@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var buildings = LandmarkHelper.GetBuildings();
}
<div class="container">
    @Html.Sitecore().Placeholder("t24page-title")
    <div class="gd-exclusive">
        <div class="row">
            <div class="col-sm-6 gd-full-img">
                <img data-src="@Html.Sitecore().ImageFieldSrc("Service Image", Sitecore.Context.Item)">
            </div>
            <div class="col-sm-6">
                <div class="gd-content-details">
                    <h3>@Html.Sitecore().Field("Service Title")</h3>
                    @Html.Sitecore().Field("Service Content")

                    @if (Sitecore.Context.Item.ID.ToString() == ItemGuids.OverviewPage)
                    {
                        <hr>
                        <h4>@Html.Sitecore().Field("Opening Hours Label")</h4>
                        <div class="table-responsive">
                            <table>
                                <tbody>
                                    @if (buildings != null && buildings.Count != 0)
                                    {
                                        foreach (var item in buildings)
                                        {
                                            <tr>
                                                <th>@Html.Sitecore().Field("Building Title", item)</th>
                                                <td>@Html.Sitecore().Field("Opening Hours", item)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>