@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    Item overViewPage = Sitecore.Context.Database.GetItem(ItemGuids.OverviewPage);
    Item valetParkingPage = Sitecore.Context.Database.GetItem(ItemGuids.ValetParkingPage);
}
<div class="gd-pagetitle">
    <div class="gd-pagetitle-heading">
        <h2>@Html.Sitecore().Field("Page Title", Sitecore.Context.Item.Parent).ToString().ToUpper()</h2>
    </div>

    <div class="gd-pagetitle-menu hidden-xs">
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(overViewPage)" class="active">@Html.Sitecore().Field("Page Title", overViewPage)</a>
        <span class="gd-pagetitle-menu-gap">|</span>
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(valetParkingPage)">@Html.Sitecore().Field("Page Title", valetParkingPage)</a>
    </div>

    <div class="gd-controls-m visible-xs">
        <select class="form-control">
            <option value="@Sitecore.Links.LinkManager.GetItemUrl(overViewPage)">@Html.Sitecore().Field("Page Title", overViewPage)</option>
            <option value="@Sitecore.Links.LinkManager.GetItemUrl(valetParkingPage)">@Html.Sitecore().Field("Page Title", valetParkingPage)</option>
        </select>
    </div>
</div>