@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Collections
@using Sitecore.Configuration
@using Sitecore.Data.Items
@model RenderingModel
@{
    string src = Html.Sitecore().ImageFieldSrc("Map Menu Image", Sitecore.Context.Item);
    List<Item> buildings = LandmarkHelper.GetBuildings();
    Item activeItem = string.IsNullOrEmpty(Request.QueryString["buildingID"])?buildings[0]:Sitecore.Context.Database.GetItem(Request["buildingID"]);
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h1>@Sitecore.Context.Item["Page Title"].ToUpper()</h1>
@{
    string pdf = LandmarkHelper.FileFieldSrc("Floor Guide", activeItem);
    string name = LandmarkHelper.GetFileName("Floor Guide", activeItem);
}
            <a href='@pdf' class="gd-link-audio"  target="_blank" onclick="scDownload(@name)" >
                <span class="icomoon-download"></span> @Sitecore.Context.Item["Download Label"].ToUpper()
            </a>
        </div>
        <div class="gd-pagetitle-mapmenu hidden-xs hiddden-sm">
            <img data-src="@src" alt="map">
            <ul>
                @{
                    int i = 0;
                    foreach (Item building in buildings)
                    {
                        string cssclass = building.ID.ToString() == activeItem.ID.ToString() ? "active" : "";
                        <li class="@cssclass"><a href="?buildingID=@building.ID.ToString()" data-src="/Service/Landmark.asmx/GetFloorPlanJson?buildingID=@building.ID.ToString()"
 data-src-ie8="/Service/Landmark.asmx/GetFloorPlanJson?buildingID=@building.ID.ToString()">@building.Fields["Building Title"].Value</a></li>
                        i++;
                    }
                }
            </ul>
        </div>
    </div>

    <div class="row visible-xs">
        <div class="col-xs-12">
            <div class="gd-floorplan-m">
                <div class="gd-floorplan-img-m">
                    <img src="../files/landmark/images/floorguide/examplefloorplan0.jpg">
                </div>

                <div class="gd-controls-m">
                    <select id="gd-fp-building-m" class="form-control">
                        <option value="0">LANDMARK PRINCE'S</option>
                        <option value="1">LANDMARK ALEXANDRA</option>
                        <option value="2">LANDMARK CHATER</option>
                        <option value="3">OTHER BUILDINGS</option>
                    </select>
                </div>

                <div class="gd-controls-m">
                    <select id="gd-fp-levela-m" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="gd-floorplan-container">
        <div class="col-sm-3">
            <div class="gd-floorplan clearfix">
                <div class="gd-fp-levela hidden-xs" id="gd-floors"></div>
                <div class="gd-fp-levelb">
                    <div id="gd-shops"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="mapplic" class="hidden-xs">
            </div>
            <div class="gd-mainimage-brief">
                <h2 id="gd-shop-detail-title"></h2>
                <div class="table-responsive gd-mainimage-table">
                    <table>
                        <tbody>
                            <tr>
                                <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.WhereItem))</th>
                                <td id="gd-shop-detail-where"></td>
                            </tr>
                            <tr>
                                <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.OpenningHoursItem))</th>
                                <td id="gd-shop-detail-wkt">
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.AddressItem))</th>
                                <td id="gd-shop-detail-addr"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a id="gd-shop-detail-href" href="" class="gd-button gd-button-white">
                    @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.SeeMoreGlossaryItem)) <span class="icomoon-chevron-small-right"></span>
                </a>
            </div>
        </div>
    </div>

</div>

