@using System.Runtime.CompilerServices
@using System.Collections.Generic;
@using System.Linq;
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Links
@model RenderingModel

@{
    ArtTourHelper helper = new ArtTourHelper();
    var buildings = LandmarkHelper.GetBuildings();
    var building = helper.GetCurrentBuilding(Request["building"]);
    var page = int.Parse(Request["page"] ?? "1");
    var artpieces = helper.GetArtPieceByBuildingSvgId(building.Fields["Building Svg Id"].Value).Skip((page - 1) * 2).Take(2);
}
<div class="row">
    <div id="gd-list-locations" class="col-md-6">
        <ul class="list-group gd-list-guide hidden-xs clearfix" id="gdfloorlist">
            @for (int i = 0; i < buildings.Count; i++)
            {
                string cssclass = building.ID.ToString() == buildings[i].ID.ToString() ? "active" : string.Empty;
                <li data-location="@buildings[i].Fields["Building Svg Id"].Value" class="list-group-item @cssclass">
                    <span class="badge">@(i + 1)</span>
                    @buildings[i].Fields["Building Title"].Value
                </li>
            }
        </ul>
        <div class="gd-controls-m visible-xs">
            <select class="form-control">
                @for (int i = 0; i < buildings.Count; i++)
                {
                    <option value="@buildings[i].Fields["Building Svg Id"].Value">@buildings[i].Fields["Building Title"].Value</option>
                }
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div id="mapplic-t22" data-src="/Service/Landmark.asmx/GetLocationJson" data-src-ie8="/Service/Landmark.asmx/GetLocationJson"></div>
    </div>
</div>
<div class="gd-artlist">
    <h3>@Html.Sitecore().Field("Building Title",building)</h3>
    <div id="gd-art-gallery">
        <div class="row">
            @foreach (Item piece in artpieces)
            {
                <div class="col-sm-3 text-center">
                    <a href="@LinkManager.GetItemUrl(piece)" class="gd-hover-img">
                        <div class="gd-hover-img-area">
                            <div class="gd-hover-img-mask"></div>
                            <img data-src="@SitecoreFieldHelper.ImageFieldSrc("Art Image", piece)" alt="artpiece picture">
                        </div>
                        <h4>@piece.Fields["Art Title"].Value</h4>
                        <p>@piece.Fields["Art Description"].Value</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="navigation gd-promo-more">
        <a href="?building=@buildings.First().ID.ToString()&page=2">SEE MORE +</a>
    </div>
</div>



@*<script type="text/javascript" src="/files/landmark/js/lib/svgmap/js/hammer.min.js"></script>
    <script type="text/javascript" src="/files/landmark/js/lib/svgmap/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/files/landmark/js/lib/svgmap/js/smoothscroll.js"></script>
    <script type="text/javascript" src="/files/landmark/js/lib/svgmap/mapplic/mapplic.js"></script>*@
