@using System.Runtime.CompilerServices
@using System.Collections.Generic;
@using System.Linq;
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Configuration
@using Sitecore.Links
@model RenderingModel
<link rel="stylesheet" type="text/css" href="/files/landmark/js/lib/svgmap/mapplic/mapplic.css">
<!--[if lt IE 9]>
   <link rel="stylesheet" type="text/css" href="/files/landmark/js/lib/svgmap/mapplic/mapplic-ie.css">
   <script type="text/javascript" src="/files/landmark/js/lib/svgmap/js/html5shiv.js"></script>
 <![endif]-->
@{
    ArtTourHelper helper = new ArtTourHelper();
    var buildings = LandmarkHelper.GetAllBuildings();
    var building = helper.GetCurrentBuilding(Request["building"]);
    var page = Request["page"] ?? "1";
    List<Item> artpieces = new List<Item>();
    if (building != null)
    {
        var svgId = building.Fields["Building Svg Id"];

        artpieces = (svgId != null && !string.IsNullOrEmpty(svgId.Value)) ? helper.GetArtPieceByBuildingSvgId(svgId.Value, page) : new List<Item>();
    }
}
<div class="row">
    <div id="gd-list-locations" class="col-md-7">
        <ul class="list-group gd-list-guide hidden-xs clearfix" id="gdfloorlist">
            @for (int i = 0; i < buildings.Count; i++)
            {
                string cssclass = building.ID.ToString() == buildings[i].ID.ToString() ? "active" : string.Empty;
                <li data-location="@buildings[i].Fields["Building Svg Id"].Value" class="list-group-item @cssclass">
                    <span class="badge">@(i + 1)</span>
                    @buildings[i].Fields["Building Title"].Value
                </li>
            }
        </ul>
        <div class="gd-controls-m visible-xs">
            <select class="form-control">
                @for (int i = 0; i < buildings.Count; i++)
                {
                    <option value="@buildings[i].Fields["Building Svg Id"].Value">@buildings[i].Fields["Building Title"].Value</option>
                }
            </select>
        </div>
    </div>

    <div class="col-md-5">
        <div id="mapplic-t22" data-src="/Service/Landmark.asmx/GetLocationJson" data-src-ie8="/Service/Landmark.asmx/GetLocationJson"></div>
    </div>
</div>
<div class="gd-artlist">
    <h3>@Html.Sitecore().Field("Building Title", building)</h3>
    <div id="gd-art-gallery">
        
            @if (artpieces.Count != 0)
            {
                List<List<Item>> listGroup = new List<List<Item>>();
                int j = 4;
                for (int i = 0; i < artpieces.Count; i += 4)
                {
                    List<Item> cList = new List<Item>();
                    cList = artpieces.Take(j).Skip(i).ToList();
                    j += 4;
                    listGroup.Add(cList);
                }
                foreach (List<Item> group in listGroup)
                {
                    <div class="row">
                    @foreach (Item piece in group)
                    {
                        <div class="col-sm-3 text-center">
                                <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(piece))" class="gd-hover-img">
                                    <div class="gd-hover-img-area">
                                        <div class="gd-hover-img-mask"></div>
                                        <img data-src="@SitecoreFieldHelper.ImageFieldSrc("Art Image", piece)" alt="artpiece picture" class="lazy-loaded">
                                    </div>
                                    <h4>@piece.Fields["Art Title"].Value</h4>
                                    <p>@Sitecore.Context.Database.GetItem(piece.Fields["Artist"].ToString()).Fields["Artist Name"]</p>
                                </a>
                            </div>
  
                    }

                    </div>   

                }
                            }
    </div>
    <div class="navigation gd-promo-more">
        <a href="?building=@buildings.First().ID.ToString()&page=2">@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.SeeMoreGlossaryItem))</a>
    </div>
</div>

