@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.LandmarkArtTourItem))#gd-audio-guide" class="gd-link-audio">
                <span class="icomoon-sound-alt"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.MobileAudioGuideItem) <span class="icomoon-chevron-small-right"></span>
            </a>
            <h1>@Html.Sitecore().Field("Page Title")</h1>
        </div>

        <div class="gd-pagetitle-menu hidden-xs">
            @Html.Sitecore().Field("Glossary Value", ItemGuids.ViewByItem) <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage))" @if (Html.Sitecore().CurrentItem.ID.ToString() == ItemGuids.ByArtistPage) { <text>
                                                                              class="active" </text>       }>
                @Html.Sitecore().Field("Glossary Value", ItemGuids.ArtistItem)
            </a>  <span class="gd-pagetitle-menu-gap">|</span>  <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByLocationPage))" @if (Html.Sitecore().CurrentItem.ID.ToString() == ItemGuids.ByLocationPage) { <text>
                                                                   class="active" </text>       }>@Html.Sitecore().Field("Glossary Value", ItemGuids.LocationItem)</a>
                                                            </div>
                                                            <div class="gd-controls-m visible-xs">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <p class="form-control-static">@Html.Sitecore().Field("Glossary Value", ItemGuids.ViewByItem)</p>
                                                                    </div>
                                                                    <div class="col-xs-9">
                                                                        <select class="form-control">
                                                                            <option value="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByLocationPage))">@Html.Sitecore().Field("Glossary Value", ItemGuids.LocationItem)</option>
                                                                            <option value="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage))">@Html.Sitecore().Field("Glossary Value", ItemGuids.ArtistItem)</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @Html.Sitecore().Placeholder("by-artist")
                                                        @Html.Sitecore().Placeholder("by-location")
                                                    </div>