@using Landmark.Classes
@using Sitecore.Links
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var current = Sitecore.Context.Item;
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Cover Title", current.Parent)</h2>
            <a href="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.LandmarkArtTourItem))#gd-audio-guide" class="gd-link-audio">
                <span class="icomoon-sound-alt"></span> @Html.Sitecore().Field("Glossary Value", SitecoreItems.MobileAudioGuideItem) <span class="icomoon-chevron-small-right"></span>
            </a>
        </div>

        <div class="gd-pagetitle-menu hidden-xs">
            @Html.Sitecore().Field("Glossary Value", SitecoreItems.ViewByItem) 
            <a href="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage))" @if (Html.Sitecore().CurrentItem.ID.ToString() == ItemGuids.ByArtistPage) { <text>
                                                                                  class="active" </text>            }>
                @Html.Sitecore().Field("Glossary Value", SitecoreItems.ArtistItem)
            </a>
            <span class="gd-pagetitle-menu-gap">|</span>  
            <a href="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByLocationPage))" @if (Html.Sitecore().CurrentItem.ID.ToString() == ItemGuids.ByLocationPage)
                                                                                                           {
                                                                                                               <text>
                                                                                                                   class="active" </text>
                                                                                                           }>
                @Html.Sitecore().Field("Glossary Value", SitecoreItems.LocationItem)
            </a>
        </div>
        <div class="gd-controls-m visible-xs">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <p class="form-control-static">@Html.Sitecore().Field("Glossary Value", SitecoreItems.ViewByItem)</p>
                                                                    </div>
                                                                    <div class="col-xs-9">
                                                                        <select class="form-control">
                                                                            <option value="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByLocationPage))">@Html.Sitecore().Field("Glossary Value", SitecoreItems.LocationItem)</option>
                                                                            <option value="@LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage))" @if (Html.Sitecore().CurrentItem.ID.ToString() == ItemGuids.ByArtistPage) { <text>
                                                                                    selected="selected" </text>  }>
                                                                                @Html.Sitecore().Field("Glossary Value", SitecoreItems.ArtistItem)
                                                                                </option>

                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
    </div>

        @Html.Sitecore().Placeholder("by-artist")
        @Html.Sitecore().Placeholder("by-location")
</div>