@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <a href="t20.html#gd-audio-guide" class="gd-link-audio">
                <span class="icomoon-sound-alt"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.MobileAudioGuideItem) <span class="icomoon-chevron-small-right"></span>
            </a>
            <h1>CENTRAL ART GUIDE</h1>
        </div>

        <div class="gd-pagetitle-menu">@Html.Sitecore().Field("Glossary Value", ItemGuids.ViewByItem) <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage))" class="active">@Html.Sitecore().Field("Glossary Value", ItemGuids.ArtistItem)</a>  <span class="gd-pagetitle-menu-gap">|</span>  <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByLocationPage))">@Html.Sitecore().Field("Glossary Value", ItemGuids.LocationItem)</a></div>
    </div>

    @Html.Sitecore().Placeholder("by-artist")
    @Html.Sitecore().Placeholder("by-location")
</div>