@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@{
    InspirationHelper helper = new InspirationHelper();
    List<Item> articleObjects = helper.GetMonthlyExclusives(Request["category"],Request["brand"]).Where(item =>!((CheckboxField)item.Fields["Has Detailed"]).Checked).ToList();
    List<Item> articleDetailObjects = helper.GetMonthlyExclusives(Request["category"],Request["brand"]).Where(item=>((CheckboxField)item.Fields["Has Detailed"]).Checked).ToList();
    string[] alphabetsStrings = new[] {"a", "b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"};
}

<div class="container">

    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h2>
        </div>
        <div class="gd-pagetitle-info" >@Html.Sitecore().Field("Page Content")</div>
    </div>

        <div  class="gd-promotion">
        </div>
    <div class="gd-promotion">
    <div class="gd-promo-filter">
        <div class="gd-promo-brands">
        <a class="btn gd-promo-brands-btn">@Html.Sitecore().Field("Glossary Value",ItemGuids.FindByBrandItem)</a>
        <div class="gd-promo-brands-area">
            <ul >
                @for (int i = 0; i<alphabetsStrings.Length; i++)
                {
                    if (helper.IfBrandsAlphabetValid(alphabetsStrings[i]))
                    {
                        <li><a href="#@alphabetsStrings[i].ToLower()">@alphabetsStrings[i].ToUpper()</a></li>
                    }
                    else
                    {
                        <li class="disabled">@alphabetsStrings[i].ToUpper()</li>
                    }
                }

            </ul>
            <a href="#" class="gd-promo-brands-all">@Html.Sitecore().Field("Glossary Value",ItemGuids.ShowAllItem)</a>
        </div>
        </div>
        <ul>
            <li class="active"><a href="#">@Html.Sitecore().Field("Glossary Value", ItemGuids.AllTextItem)</a></li>
            @foreach (var category in helper.GetCategories())
            {
                <li><a href="#">@Html.Sitecore().Field("Category Name",category)</a></li>
            }
        </ul>
    </div>

        <div class="gd-promo-body">

            @foreach (Item detailedarticle in articleDetailObjects)
            {
                var brand = ((MultilistField)detailedarticle.Fields["Brand"]).TargetIDs.FirstOrDefault();
            <div class="gd-promo-box2">
                <img data-src="@Html.Sitecore().ImageFieldSrc("Article Thumb Image",detailedarticle)">
                <div class="gd-promo-box-text">
                    <h5>@Html.Sitecore().Field("Brand Title", Sitecore.Context.Database.GetItem(brand))</h5>
                    <h4>@Html.Sitecore().Field("Article Headline", detailedarticle) (@Html.Sitecore().Field("Product Price", detailedarticle))</h4>
                    <a class="gd-button gd-button-white" href="@LinkManager.GetItemUrl(detailedarticle)">@Html.Sitecore().Field("Glossary Value", ItemGuids.DiscoverMoreItem)</a>
                    <div class="gd-promo-share">
                        <div class="gd-promo-share-handle">
                            <span class="icomoon-share"></span>@Html.Sitecore().Field("Glossary Value", ItemGuids.ShareItem)
                        </div>
                        <div class="gd-promo-sharebox">
                            <a href="" class="icomoon-facebook"></a>
                            <a href="" class="icomoon-twitter"></a>
                            <a href="" class="icomoon-sina-weibo"></a>
                            <a href="" class="icomoon-envelop"></a>
                        </div>
                    </div>
                </div>
            </div>
            }
           
            @foreach (Item article in articleObjects)
            {
                var brand = ((MultilistField) article.Fields["Brand"]).TargetIDs.FirstOrDefault();
                <div class="gd-promo-box">
                    <img data-src="@Html.Sitecore().ImageFieldSrc("Article Thumb Image",article)">
                    <h5>@Html.Sitecore().Field("Brand Title",Sitecore.Context.Database.GetItem(brand))</h5>
                    <h4>@Html.Sitecore().Field("Article Headline",article) (@Html.Sitecore().Field("Product Price",article))</h4>
                </div>
            }

        </div>
    </div>
</div>
