@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@{
    InspirationHelper inspirationHelper = new InspirationHelper();
    var page = Request["page"] ?? "1";
    List<Item> articleDetailObjects = inspirationHelper.GetDetailedExclusives(page);
    List<Item> articleObjects = inspirationHelper.GetNotDetailedExclusives(page);
    string[] alphabetsStrings = new[] { "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z" };
}

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h2>
        </div>
        <div class="gd-pagetitle-info">@Html.Sitecore().Field("Page Content")</div>
    </div>
    <div class="gd-promotion">
        <div class="gd-promo-filter hidden-xs">
            <div class="gd-promo-brands">
                <a class="btn gd-promo-brands-btn">@Html.Sitecore().Field("Glossary Value", SitecoreItems.FindByBrandItem)</a>
                <div class="gd-promo-brands-area">
                    <ul>
                        @for (int i = 0; i < alphabetsStrings.Length; i++)
                        {
                            if (inspirationHelper.IfBrandsAlphabetValid(alphabetsStrings[i]))
                            {
                                <li><a href="javascript:;" data-filter="gdf-@alphabetsStrings[i].ToLower()">@alphabetsStrings[i].ToUpper()</a></li>
                            }
                            else
                            {
                                <li class="disabled">@alphabetsStrings[i].ToUpper()</li>
                            }
                        }

                    </ul>
                    <a href="javascript:;" data-filter="*" class="gd-promo-brands-all">@Html.Sitecore().Field("Glossary Value", SitecoreItems.ShowAllItem)</a>
                </div>
            </div>
            <ul>
                <li class="active"><a href="javascript:;" data-filter="*">@Html.Sitecore().Field("Glossary Value", SitecoreItems.AllTextItem)</a></li>
                @foreach (var category in inspirationHelper.GetCategories())
                {
                    <li><a href="javascript:;" data-filter="gdf-@category.DisplayName.ToLower().Replace(" ","")">@Html.Sitecore().Field("Tag Name", category)</a></li>
                }
            </ul>
        </div>

        <div class="gd-controls-m visible-xs">
            <div class="row">
                <div class="col-xs-4">
                    <p class="form-control-static">@Html.Sitecore().Field("Glossary Value", SitecoreItems.FilterByItem)</p>
                </div>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option value="*">@Html.Sitecore().Field("Glossary Value", SitecoreItems.AllTextItem)</option>
                        @foreach (var category in inspirationHelper.GetCategories())
                        {
                            <option value="gdf-@category.DisplayName.ToLower().Replace(" ","")">@Html.Sitecore().Field("Tag Name", category).ToString().ToUpper()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="gd-controls-m visible-xs">
            <div class="row">
                <div class="col-xs-12">
                    <select class="form-control">
                        <option value="*">@Html.Sitecore().Field("Glossary Value", SitecoreItems.FindByBrandItem)</option>
                        @for (int i = 0; i < alphabetsStrings.Length; i++)
                        {
                            if (inspirationHelper.IfBrandsAlphabetValid(alphabetsStrings[i]))
                            {
                                <option value="gdf-@alphabetsStrings[i].ToLower()">@alphabetsStrings[i].ToUpper()</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="gd-promo-body">

            @foreach (Item detailedarticle in articleDetailObjects)
            {
                string imagesrc = LandmarkHelper.GetCallOutImage(detailedarticle);
                MultilistField brandField = detailedarticle.Fields["Brand"];
                ID brand= new ID();
                string alphabet = string.Empty;
                string brandTitle = string.Empty;
                if (brandField != null && brandField.TargetIDs != null && brandField.TargetIDs.Length > 0)
                {
                    brand = brandField.TargetIDs.FirstOrDefault();
                    alphabet = inspirationHelper.GetAlphabet(brand);
                    brandTitle = Sitecore.Context.Database.GetItem(brand).Fields["Brand Title"].Value;
                }
                //var brand = ((MultilistField)detailedarticle.Fields["Brand"]).TargetIDs.FirstOrDefault();
                <div class="gd-promo-box2 @alphabet @inspirationHelper.GetTagsFilter(detailedarticle)">
                    <meta property="og:description" content="@detailedarticle.Fields["Social Share Description"].Value" />
                    @{
                string firstImageUrl = string.Empty;
                MultilistField imageField = (MultilistField)detailedarticle.Fields["Social Share Images"];
                if (imageField != null)
                {
                    var imagesId = ((MultilistField)detailedarticle.Fields["Social Share Images"]).TargetIDs;
                    if (imagesId != null && imagesId.Count() != 0)
                    {
                        foreach (var imageid in imagesId)
                        {
                            <meta property="og:image" content="@LandmarkHelper.GetImageItemAbsoluteUrl(imageid)" />
                        }
                        firstImageUrl = LandmarkHelper.GetImageItemAbsoluteUrl(imagesId.FirstOrDefault());
                    }
                }
                    }

                    <a href="@LinkManager.GetItemUrl(detailedarticle)"><img data-src="@imagesrc"></a>
                    <div class="gd-promo-box-text">
                        <h5>@brandTitle</h5>
                        <a href="@LinkManager.GetItemUrl(detailedarticle)">
                            <h4>@Html.Sitecore().Field("Article Headline", detailedarticle)</h4>
                        </a>
                        <a class="gd-button gd-button-white" href="@LinkManager.GetItemUrl(detailedarticle)">@Html.Sitecore().Field("Glossary Value", SitecoreItems.DiscoverMoreItem)</a>
                        <div class="gd-promo-share">
                            <div class="gd-promo-share-handle">
                                <span class="icomoon-share"></span>@Html.Sitecore().Field("Glossary Value", SitecoreItems.ShareItem)
                            </div>
                            <div class="gd-promo-sharebox">
                                <a href="" class="icomoon-facebook"></a>
                                <a href="" class="icomoon-twitter"></a>
                                <a href="" class="icomoon-sina-weibo"></a>
                                <a href="" class="icomoon-envelop"></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @foreach (Item article in articleObjects)
            {
                string imagesrc = LandmarkHelper.GetCallOutImage(article);
                MultilistField brandField = article.Fields["Brand"];
                ID brand = new ID();
                string alphabet = string.Empty;
                string brandTitle = string.Empty;
                if (brandField != null && brandField.TargetIDs != null && brandField.TargetIDs.Length > 0)
                {
                    brand = brandField.TargetIDs.FirstOrDefault();
                    alphabet = inspirationHelper.GetAlphabet(brand);
                    brandTitle = Sitecore.Context.Database.GetItem(brand).Fields["Brand Title"].Value;
                }
                <div class="gd-promo-box @alphabet @inspirationHelper.GetTagsFilter(article)">
                    <a href="@LinkManager.GetItemUrl(article)"><img data-src="@imagesrc"></a>
                    <h5>@brandTitle</h5>
                    <a href="@LinkManager.GetItemUrl(article)"><h4>@Html.Sitecore().Field("Article Headline", article)</h4></a>
</div>
            }
        </div>
        <div class="navigation gd-promo-more"><a href="?page=2">@Html.Sitecore().Field("Glossary Value", SitecoreItems.SeeMoreItem) +</a></div>
    </div>
</div>
