@using Landmark.Helper
@model RenderingModel

<section class="panel-area">
    <div class="panel-6 clearfix">
        <div class="panel-side1">
            <div class="panel-img" data-bg="@Html.Sitecore().ImageFieldSrc("Panel Image",Model.Item)"></div>
        </div>
        <div class="panel-side2">
            <div class="panel-main">
            <div class="panel-text text-box-1">
            <hgroup class="clearfix"> 
                <h3>@Html.Sitecore().Field("Panel Title")</h3>
                <h4>@Html.Sitecore().Field("Panel Sub Title")</h4>
            </hgroup>
            <div class="panel-content">@Html.Sitecore().Field("Panel Description")</div>
                @Html.Sitecore().Field("Panel Button Link",Model.Item,new
                {
                    @class="btn btn-default",text=Html.Sitecore().Field("Panel Button Text")
                })
            </div>
                @Html.Sitecore().Field("Panel See More Link",Model.Item,new
                {
                    @class="panel-link panel-text",
                    text=Html.Sitecore().Field("Panel See More Text")+@"<span class='icomoon-chevron-small-right'></span>"
                })
            </div>
        </div>

    <div class="panel-side3">
        <div class="panel-img" data-bg="@Html.Sitecore().ImageFieldSrc("Panel Image Right",Model.Item)"></div>
        <div class="panel-main">
            <div class="panel-text text-box-3">
                <hgroup class="clearfix">
                    <h4>@Html.Sitecore().Field("Panel Sub Title Right")</h4>
                    <h2>@Html.Sitecore().Field("Panel Title Right")</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>
</section>
