@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@model RenderingModel
@{
    var slideList = Model.Item.Children.ToList();
}
<section class="panel-area">
    <ul class="slider">
        @foreach (var item in slideList)
        {
            
            <li>
                <div class="@LandmarkHelper.GetSlideClass(item) clearfix">
                    <div class="panel-img" data-bg="@Html.Sitecore().ImageFieldSrc("Slide Image",item)"></div>
                    <div class="panel-main">
                        <div class="panel-text">
                            <hgroup class="clearfix">
                                @Html.Raw(Html.Sitecore().Field("Slide Title",item))
                            </hgroup>
                            <div class="panel-content">
                                @Html.Sitecore().Field("Slide Content",item)
                            </div>
                            @Html.Sitecore().Field("Slide Button Link", item, new {text = item["Slide Button Text"], @class = "btn btn-default"})
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div class="scroll-area"> <a href="#"><span class="sprite-scroll"></span><br>
    <span class="hidden-xs">@Html.Sitecore().Field("Glossary Value", ItemGuids.ScrollToBeginGuidItem)</span> </a> </div>
    <div class="prev"> <a href="#"><span class="sprite-icon-l"></span></a> </div>
    <div class="next"> <a href="#"><span class="sprite-icon-r"></span></a> </div>
</section>