@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;

    var nearbyFacilities = currentItem.Children.FirstOrDefault().Children.ToList();
}
<div id="directions-panel" class="gd-map-controls">
    <div class="gd-controls-m visible-xs">
        <select class="form-control">
            @if (nearbyFacilities.Count > 0)
            {
                foreach (var item in nearbyFacilities)
                {
                    <option value="@item.Fields["Value"]"> @item.Fields["Text"] </option>
                }
            }
        </select>
    </div>
    <ul id="gd-surroundings" class="list-group gd-list-guide">
        @if (nearbyFacilities.Count > 0)
        {
            foreach (var item in nearbyFacilities)
            {
                <li data-keyword="@item.Fields["Keyword"]" @if (item.Fields["Value"].ToString() == "0") { <text> class="list-group-item active" </text>  }class="list-group-item"><span id="@item.Fields["Marker Id"]" class="badge"> </span> @item.Fields["Text"]</li>
            }
        }
    </ul>
</div>