@using Landmark.Classes
@model RenderingModel
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h1>@Sitecore.Context.Item["Page Title"].ToUpper()</h1>
        </div>
    </div>
    <div class="gd-newsdetails">
        <div class="gd-nd-info-text">@Html.Sitecore().Field("Page Content")</div>
        @Html.Sitecore().Field("Page Banner Image")
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h2>
                @Html.Sitecore().Field("Content Title")
            </h2>
        </div>
        <div class="gd-brief-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.Sitecore().Field("Content Description")
                    <button class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Button Text")</button>
                </div>
            </div>
        </div>
    </div>
<div class="gd-promotion">
    <div class="gd-promo-heading">
          <h2>@Html.Sitecore().Field("Glossary Value",ItemGuids.AlsoHappenInLandmarkItem)</h2>
        </div>
        @Html.Sitecore().Placeholder("articles")
      </div>
</div>
