@using System.Globalization
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel
@{
    var helper = new NowAtLandmarkHelper();
    var latestItem = helper.GetLatestArticle();
    DateField date = ((DateField) latestItem.Fields["Article Date"]);
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Sitecore.Context.Item["Page Title"].ToUpper()</h2>
        </div>
    </div>
    <div class="gd-newsdetails">
        <div class="gd-nd-info-text">@Html.Sitecore().Field("Page Content")</div>
        @Html.Sitecore().Field("Article Slider Image", latestItem)
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>
                @Html.Sitecore().Field("Article Headline", latestItem)
            </h3>
        </div>
        <div class="gd-brief-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>@LandmarkHelper.ToValidDateTime(date).ToString("MMM dd,yyyy", CultureInfo.InvariantCulture)</p>
                    <p>@Html.Sitecore().Field("Article Intro", latestItem)</p>
                    <button class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Glossary Value", ItemGuids.DiscoverMoreItem)</button>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-promotion">
        <div class="gd-promo-heading">
            <h3>@Html.Sitecore().Field("Glossary Value", ItemGuids.AlsoHappenInLandmarkItem)</h3>
        </div>
        @{
            var articles = helper.GetTheRestArticles();
        }
        <div class="gd-promo-body">
            @foreach (Item child in articles)
            {
                Item article = child.TemplateID.ToString() == ItemGuids.T4PageTemplate ? child : ((ReferenceField)child.Fields["Reference Item"]).TargetItem;
                Item type = ((ReferenceField)article.Fields["Article Type"]).TargetItem;
                <div class="gd-promo-box">
                    <a href="@LinkManager.GetItemUrl(article)">
                        <img data-src='@Html.Sitecore().ImageFieldSrc("Article Thumb Image", article)'>
                        <h5>@type.Fields["Value"].ToString().ToUpper()</h5>
                        <h3>@Html.Sitecore().Field("Article Headline", article)</h3>
                        <p>@Html.Sitecore().Field("Article Intro", article)</p>
                    </a>
                </div>
            }
        </div>

    </div>
</div>
