@using System.Globalization
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel
@{
    var helper = new NowAtLandmarkHelper();
    var latestItem = helper.GetLatestArticle();
    DateField date = ((DateField)latestItem.Fields["Article Date"]);
    string src = LandmarkHelper.GetCallOutImageForWaterfall(latestItem);
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h1>@Sitecore.Context.Item["Page Title"].ToUpper()</h1>
        </div>
    </div>
    <div class="gd-newsdetails">
        <div class="gd-nd-info-text">@Html.Sitecore().Field("Page Content")</div>
        <img data-src="@src" />
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>
                @Html.Sitecore().Field("Article Headline", latestItem)
            </h3>
        </div>
        <div class="gd-brief-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    @if (!string.IsNullOrEmpty(date.Value))
                    {
                        @*<p>
                                    @LandmarkHelper.ToValidDateTime(date).ToString("MMM dd,yyyy" +
                                                                                  "", CultureInfo.InvariantCulture)
                            </p>*@
                        if (Html.Sitecore().CurrentItem.Language.Name == "zh-CN")
                        {
                            <p>@LandmarkHelper.ToValidDateTime(date).ToString("yyyy年 MMM dd日", CultureInfo.GetCultureInfo("zh-CN").DateTimeFormat).ToUpper()</p>
                        }
                        else if (Html.Sitecore().CurrentItem.Language.Name == "zh-HK")
                        {
                            <p>@LandmarkHelper.ToValidDateTime(date).ToString("yyyy年 MMM dd日", CultureInfo.GetCultureInfo("zh-HK").DateTimeFormat).ToUpper()</p>
                        }
                        else if (Html.Sitecore().CurrentItem.Language.Name == "en")
                        {
                            <p>@LandmarkHelper.ToValidDateTime(date).ToString("MMM dd, yyyy", DateTimeFormatInfo.InvariantInfo).ToUpper()</p>
                        }
                    }
                    <p>@Html.Sitecore().Field("Article Content", latestItem)</p>
                    <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(latestItem))" class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.DiscoverMoreItem))</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-promotion">
        <div class="gd-promo-heading">
            <h3>@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.AlsoHappenInLandmarkItem))</h3>
        </div>
        @{
            var page = Request["page"] ?? "1";
            var articles = helper.GetTheRestArticles(page);
        }
        <div class="gd-promo-body">
            @foreach (Item child in articles)
            {
                @*Item article = child.TemplateID.ToString() == ItemGuids.T4PageTemplate ? child : ((ReferenceField)child.Fields["Reference Item"]).TargetItem;*@
                ReferenceField typeField = ((ReferenceField)child.Fields["Article Type"]);
                string imagesrc = LandmarkHelper.GetCallOutImageForWaterfall(child);
                <div class="gd-promo-box">
                    <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(child))" class="gd-hover-img">
                        <div class="gd-hover-img-area">
                            <div class="gd-hover-img-mask"></div>
                            <img src='@imagesrc'>
                        </div>
                        @if (typeField != null && typeField.TargetItem != null)
                        {
                            <h5>@typeField.TargetItem.Fields["Article Type"].ToString().ToUpper()</h5>
                        }
                        <h3>@Html.Sitecore().Field("Article Headline", child)</h3>
                        <p>@Html.Sitecore().Field("Article Intro", child)</p>
                    </a>
                </div>
            }
        </div>

    </div>
    @if (helper.GetTheRestArticles((Int32.Parse(page) + 1).ToString()).Count > 0)
    {
        <div class="navigation gd-promo-more">
            <a href="?page=2">@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.SeeMoreGlossaryItem))</a>
        </div>
    }
</div>
