@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Configuration
@model RenderingModel
@{
    var relatedItems = LandmarkHelper.GetRelatedItems();
}
<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h3>@Html.Sitecore().Field("Carousel Heading").ToString().ToUpper()</h3>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @if (relatedItems.Count != 0)
        {
            int i = 1;
            foreach (var item in relatedItems)
            {
                var image = LandmarkHelper.GetCallOutImage(item);

                <div @if (i == 1) { <text> class="item active" </text>        } else { <text> class="item" </text>        }>
                    <div class="carousel-image" data-bgsrc="@image"></div>
                    <div class="carousel-caption">
                        <div class="carousel-caption-inner">
                            <div class="gd-carousel-detail">
                                <h4>@item.Fields["Article Headline"]</h4>
                                <p>@Html.Sitecore().Field("Article Intro", item)</p>
                                <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))" class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.DiscoverMoreItem))</a>
                            </div>
                        </div>
                    </div>
                </div>
i++;
            }
        }
    </div>
    <!-- Wrapper for controls -->
    @if (relatedItems.Count > 0)
    {
        <div class="carousel-footer">
            <div class="gd-carousel-controls clearfix">
                <!-- Controls -->
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                    <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                    @if (relatedItems.Count > 0)
                    {
                        int i = 1;
                        foreach (var item in relatedItems)
                        {
                            <li data-target="#gd-carousel-info" data-slide-to="@(i - 1)" @if (i == 1) { <text> class="active" </text>     }>@i</li>
i++;
                        }
                    }
                </ol>

                <span class="gd-carousel-control gd-carousel-no">
                    /
                </span>
                <span class="gd-carousel-control gd-carousel-no">
                    @relatedItems.Count
                </span>
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                    <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
</div>
