@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var experienceTypeFolder = Sitecore.Context.Database.GetItem(ItemGuids.ExperienceTypeFolder);
    var experienceTypes = experienceTypeFolder.Children.ToList();

    AroundCentralHelper helper = new AroundCentralHelper();
    var attractions = helper.GetAttractionsByExpercience(Request["experienceType"]);
}

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h2>
        </div>
        <div class="gd-pagetitle-info">@Html.Sitecore().Field("Page Introduction")</div>
    </div>
    <div class="gd-promotion">
    </div>
    <div class="gd-promotion">
        <div class="gd-promo-filter">
            <ul>
                <li class="active"><a href="@Url.Action("FilterRedirect", "Home")?targetId=@Sitecore.Context.Item.ID&experienceType=''">@Html.Sitecore().Field("Glossary Value", ItemGuids.AllItem)</a></li>
                @if (experienceTypes.Count != 0)
                {
                    foreach (var item in experienceTypes)
                    {
                        <li><a href="@Url.Action("FilterRedirect", "Home")?targetId=@Sitecore.Context.Item.ID&experienceType=@item.Fields["Value"]">@item["Value"].ToUpper()</a></li>
                    }
                }
            </ul>
        </div>


        <div class="gd-promo-body">
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-01.jpg">
                <h5>CITY ROMANCE | ARTS &amp; PERFORMANCE</h5>
                <h3>The Star Ferry</h3>
            </div>
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-02.jpg">
                <h5>ARTS &amp; PERFORMANCE</h5>
                <h3>Legislative Council</h3>
            </div>
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-03.jpg">
                <h5>CITY ROMANCE</h5>
                <h3>Lan Kwai Fong</h3>
            </div>
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-04.jpg">
                <h5>ARTS &amp; PERFORMANCE</h5>
                <h3>Chater Square</h3>
            </div>
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-05.jpg">
                <h5>ARTS &amp; PERFORMANCE</h5>
                <h3>Western Market</h3>
            </div>
            <div class="gd-promo-box">
                <img data-src="../files/landmark/images/experience/experience-image-06.jpg">
                <h5>BRAND NAME</h5>
                <h3>Janis (HK$10,530)</h3>
            </div>
        </div>
        <div class="gd-promo-more"><a href="javascript:;">SEE MORE +</a></div>
    </div>

    @Html.Sitecore().Placeholder("also-like")
</div>