@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var experienceTypeFolder = Sitecore.Context.Database.GetItem(ItemGuids.ExperienceTypeFolder);
    var experienceTypes = experienceTypeFolder.Children.ToList();

    AroundCentralHelper helper = new AroundCentralHelper();
    var attractions = helper.GetAttractionsByPager(Convert.ToInt32(Request["page"]));
    int page = 1;
}

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h2>
        </div>
        <div class="gd-pagetitle-info">@Html.Sitecore().Field("Page Introduction")</div>
    </div>
    <div class="gd-promotion">
    </div>
    <div class="gd-promotion">
        <div class="gd-promo-filter">
            <ul class="hidden-xs">
                <li class="active"><a href="javascript:;" data-filter="*">@Html.Sitecore().Field("Glossary Value", ItemGuids.AllItem)</a></li>
                @if (experienceTypes.Count != 0)
                {
                    foreach (var item in experienceTypes)
                    {
                        <li><a data-filter="gdf-@item.ID.ToString().Trim('{').Trim('}')">@item["Value"].ToUpper()</a></li>
                    }
                }
            </ul>
            <div class="gd-controls-m visible-xs">
                <div class="row">
                    <div class="col-xs-12">
                        <select class="form-control">
                            <option value="*">@Html.Sitecore().Field("Glossary Value", ItemGuids.AllItem)</option>
                            @if (experienceTypes.Count != 0)
                            {
                                foreach (var item in experienceTypes)
                                {
                                    <option value="gdf-@item.ID.ToString().Trim('{').Trim('}')">@item["Value"].ToUpper()</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="gd-promo-body">
            @foreach (var item in attractions)
            {
                MultilistField experienceType = item.Fields["Experience Type"];
                string[] types = experienceType.ToString().Split('|');

                <div class="gd-promo-box @foreach (var type in types)
                             {<text>gdf-@type.Replace("{", "").Replace("}", "")</text> }">
                    <img src="@Html.Sitecore().ImageFieldSrc("Cover Image",item)">
                    <h5>@Html.Sitecore().Field("Cover Content", item)</h5>
                    <h3>@item["Cover Title"]</h3>
                </div>
            }
        </div>
        <div class="navigation gd-promo-more"><a href="?page=2">@Html.Sitecore().Field("Glossary Value", ItemGuids.SeeMoreItem) +</a></div>
    </div>
    @Html.Sitecore().Placeholder("also-like")
</div>