@using System.Globalization
@using Landmark.Classes
@using Landmark.Helper
@using Landmark.Models
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    MagazineHelper helper = new MagazineHelper();
    var setting = helper.GetStorySetting(currentItem);

    var children = currentItem.Children.ToList();
}
@using (Html.EditFrame(currentItem.Paths.FullPath))
{
    foreach (var item in children)
    {
        using (Html.EditFrame(item.Paths.FullPath))
        {
            if (item.TemplateID.ToString() == ItemGuids.TextContentTemplate)
            {
                @Html.Sitecore().Field("Article Description", item)
            }
            else if (item.TemplateID.ToString() == ItemGuids.ImageFolderTemplate)
            {
                <div class="row">
                    @foreach (var image in item.Children.ToList())
                    {
                        <div @if (setting == StorySetting.StyleA) { <text> class="col-sm-6" </text>   } else if (setting == StorySetting.StyleB) { <text> class="col-sm-4" </text>   }>
                            <img data-src="@Html.Sitecore().ImageFieldSrc("Image", image)">
                        </div>
                    }
                </div>

            }
            else if (item.TemplateID.ToString() == ItemGuids.UnorderedListTemplate)
            {
                <div class="little-list">
                    @Html.Sitecore().Field("Unordered List", item)
                </div>
            }
        }
    }
}
<dl class="gd-content-details-tags">
    <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.TagsItem)):</dt>
    <dd>
        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
    </dd>
</dl>