@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    InspirationHelper helper = new InspirationHelper();
    var relatedStoris = helper.GetRelatedItems("story");
    relatedStoris = (relatedStoris.Count > 2) ? relatedStoris.Take(2).ToList() : relatedStoris;
    var relatedBrands = helper.GetRelatedItems("brands");
    relatedBrands = (relatedBrands.Count > 2) ? relatedBrands.Take(2).ToList() : relatedBrands;
}
<div class="gd-relate">
    <div class="row">
        <div class="col-sm-8">
            <h3>@Html.Sitecore().Field("Related Story Label")</h3>
            <div class="row">
                @if (relatedStoris.Count != 0)
                {
                    foreach (var item in relatedStoris)
                    {
                        var image = LandmarkHelper.GetCallOutImage(item.Item);
                        <div class="col-sm-6 clearfix">
                            <img data-src="@image">
                            <h5>@Html.Sitecore().Field("Article Headline", item.Item)</h5>
                            <h4><a href="">@Html.Sitecore().Field("Article Intro", item.Item)</a></h4>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gd-relate-brand">
                <h3>@Html.Sitecore().Field("Related Brand Label")</h3>
                @if (relatedBrands.Count != 0)
                {
                    foreach (var item in relatedBrands)
                    {
                        <h4><a href="@Sitecore.Links.LinkManager.GetItemUrl(item.Item)">@Html.Sitecore().Field("Brand Title", item.Item)</a></h4>
                    }
                }
            </div>
        </div>
    </div>
</div>
