@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Configuration
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    DateField storyDate = currentItem.Fields["Article Date"];
    var date = LandmarkHelper.ToValidDateTime(storyDate);
    var children = currentItem.Children.ToList();
}
<div class="container">
    <div class="gd-pagetitle">
        @Html.Sitecore().Placeholder("t23-pagetitle")
    </div>

    <div class="gd-content-details">
        <h3>@Html.Sitecore().Field("Article Headline")</h3>
        @if (!string.IsNullOrEmpty(storyDate.Value))
        {
            <h5>@date.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture).ToUpper()</h5>
        }
        <h6>@Html.Sitecore().Field("Article Subheadline").ToString().ToUpper()</h6>
    </div>
</div>

<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-withdes" data-ride="carousel" data-cover-height="640">
    @Html.Sitecore().Placeholder("t23-slides")
</div>
<div class="container">
    <div class="gd-styor-block">
        @using (Html.EditFrame(currentItem.Paths.FullPath))
        {
            int i = 1;
            foreach (var item in children)
            {
                if (item.TemplateID.ToString() == ItemGuids.ContentObject)
                {
                    <div class="gd-brief">
                        <div class="gd-brief-heading">
                            <h3>@Html.Sitecore().Field("Content Title", item)</h3>
                        </div>
                        <div class="gd-brief-body text-center">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.Sitecore().Field("Content Description", item)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var tagsItem = Factory.GetDatabase("web").GetItem(ItemGuids.TagsItem);
                    if (item.TemplateID.ToString() == ItemGuids.T23CoverObject)
                    {
                        var smaller = (CheckboxField)item.Fields["Smaller Image"];
                        if (smaller.Checked)
                        {
                            <div class="gd-bigpicture">
                                <div class="gd-content-auto-width">
                                    <img data-src="@Html.Sitecore().ImageFieldSrc("Cover Image", item)">
                                    <div class="gd-nd-slider-text">@Html.Sitecore().Field("Cover Description", item)</div>
                                    @if (i == children.Count)
                                    {
                                        <dl class="gd-content-details-tags">
                                            <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", tagsItem):</dt>
                                            <dd>
                                                @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                                            </dd>
                                        </dl>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="gd-bigpicture">
                                <img data-src="@Html.Sitecore().ImageFieldSrc("Cover Image", item)">
                            </div>
                            <div class="gd-nd-slider-text">@Html.Sitecore().Field("Cover Description", item)</div>
                            if (i == children.Count)
                            {
                                <dl class="gd-content-details-tags">
                                    <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", tagsItem):</dt>
                                    <dd>
                                        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                                    </dd>
                                </dl>
                            }
                        }
                    }

                    else if (item.TemplateID.ToString() == ItemGuids.VideoObject)
                    {
                        var smaller = (CheckboxField)item.Fields["Smaller Image"];
                        if (smaller.Checked)
                        {
                            <div class="gd-bigpicture">
                                <div class="gd-content-auto-width">
                                    <video class="gd-video" type="video/mp4" src="@Html.Sitecore().Field("Video File",item)" width="100%" controls poster="@Html.Sitecore().ImageFieldSrc("Video Poster", item)"></video>
                                    <div class="gd-nd-slider-text">@Html.Sitecore().Field("Video Title", item)</div>
                                    @if (i == children.Count)
                                    {
                                        <dl class="gd-content-details-tags">
                                            <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", tagsItem):</dt>
                                            <dd>
                                                @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                                            </dd>
                                        </dl>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="gd-bigpicture">
                                <video class="gd-video" type="video/mp4" src="@Html.Sitecore().Field("Video File",item)" width="100%" controls poster="@Html.Sitecore().ImageFieldSrc("Video Poster", item)"></video>
                            </div>
                            <div class="gd-nd-slider-text">@Html.Sitecore().Field("Video Title", item)</div>
                            if (i == children.Count)
                            {
                                <dl class="gd-content-details-tags">
                                    <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", tagsItem):</dt>
                                    <dd>
                                        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                                    </dd>
                                </dl>
                            }
                        }
                    }
                }
                i++;
            }
        }

        @Html.Sitecore().Placeholder("t23-related")
    </div>
</div>