@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    MagezineHelper helper = new MagezineHelper();
    var setting = helper.GetStorySetting(currentItem);


    var children = currentItem.Children.ToList();
}
<div class="container">
    <div class="gd-pagetitle">
        @Html.Sitecore().Placeholder("t23-pagetitle")
    </div>
    <div>
        <div class="row clearfix">

            <div class="col-sm-6 pull-right">
                <div class="gd-content-details visible-xs-block">
                    <div class="gd-content-details-heading">
                        @foreach (var item in children)
                        {
                            if (item.TemplateID.ToString() == ItemGuids.ArticleObject)
                            {
                                DateField storyDate = item.Fields["Article Date"];
                                var date = LandmarkHelper.ToValidDateTime(storyDate);
                                <h3>@Html.Sitecore().Field("Article Headline", item)</h3>
                                <h5> @date.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture) </h5>
                                <h6> @Html.Sitecore().Field("Article Sub Headline", item) </h6>
                            }
                        }
                    </div>
                </div>
                <div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-withdes" data-ride="carousel">
                    @Html.Sitecore().Placeholder("t23-slides")
                </div>
            </div>
            <div class="col-sm-6 pull-left">
                <div class="gd-content-details">

                    <div class="gd-content-details-heading hidden-xs">
                        @foreach (var item in children)
                        {
                            if (item.TemplateID.ToString() == ItemGuids.ArticleObject)
                            {
                                DateField storyDate = item.Fields["Article Date"];
                                var date = LandmarkHelper.ToValidDateTime(storyDate);
                                <h3>@Html.Sitecore().Field("Article Headline", item)</h3>
                                <h5>@date.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</h5>
                                <h6>@Html.Sitecore().Field("Article Sub Headline", item)</h6>
                            }
                        }
                    </div>

                    @foreach (var item in children)
                    {
                        if (item.TemplateID.ToString() == ItemGuids.ArticleObject)
                        {
                            <p>
                                @Html.Sitecore().Field("Article Description", item)
                            </p>
                        }
                        <div class="row">
                            @if (item.TemplateID.ToString() == "{7830C468-324A-4216-B3B4-30C8EABA56B3}")
                            {
                                <div class="col-sm-6">
                                    <img data-src="@Html.Sitecore().ImageFieldSrc("Cover Image", item)">
                                </div>
                            }
                        </div>
                        if (item.TemplateID.ToString() == "{97AE2E0D-6A9F-4503-BC81-27EF29225C82}")
                        {
                            <div class="little-list">
                                @Html.Sitecore().Field("Cover List Description", item)
                            </div>
                        }
                    }
                    <dl class="gd-content-details-tags">
                        <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.TagsItem):</dt>
                        <dd>
                            @Html.Sitecore().Rendering(ItemGuids.TagsRenderingViewGuid, new
                            {
                                Cacheable = false,
                                CacheKey = "tags",
                                Cache_VaryByData = true
                            })
                        </dd>
                    </dl>
                </div>
            </div>


        </div>
        @Html.Sitecore().Placeholder("t23-related")

    </div>
</div>
