@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Items
@{
    var images = Sitecore.Context.Database.GetItem(ItemGuids.InstagramFolder).Children;
}
<section class="panel-area">
<section class="instagram-area">
    <div class="instagram-inner">
        <hgroup class="panel-text">
            <h4>@Html.Sitecore().Field("Find Us on Instagram Title")</h4>
            <h2>@Html.Sitecore().Field("Instagram Title")</h2>
        </hgroup>
        <ul class="clearfix">
            @foreach (Item image in images)
            {
                <li>
                    <a href="" data-bg="@LandmarkHelper.ImageFieldSrc("Image",image)">
                        <div class="instagram-text hidden-xs  hidden-sm">
                            <img data-src="@LandmarkHelper.ImageFieldSrc("Profile Picture",image)" class="instagram-user lazy-loaded">
                            <div class="instagram-info">
                                <h5>@Html.Sitecore().Field("User",image)</h5>
                                @Html.Sitecore().Field("Publish Time",image)
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>
</section>
