@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Links
@model RenderingModel
@{
    ReferenceField articleType = (ReferenceField) Model.Item.Fields["Article Type"];
    string src = LandmarkHelper.GetCallOutImage(Model.Item);
}
<div class="panel-side1">
            <div class="panel-img" data-bg="@src"></div>
            <div class="panel-main">
                <div class="panel-text text-box-1">
                    <hgroup class="clearfix">
                        <h3><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Model.Item))">@Html.Sitecore().Field("Article Headline", Model.Item)</a></h3>
                        <h4>@Html.Sitecore().Field("Article Sub Headline",Model.Item)</h4>
                    </hgroup>
                    <div class="panel-content">@Html.Sitecore().Field("Article Intro",Model.Item)</div>
                    <a class="btn btn-default" href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(Model.Item)))">@Html.Sitecore().Field("Glossary Value",SitecoreItems.DiscoverMoreItem)</a>
                </div>
                @if (articleType != null && articleType.TargetItem != null && !string.IsNullOrEmpty(articleType.TargetItem.Fields["See More Article Text"].Value))
    {
        <a class="panel-link panel-text" href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Model.Item.Parent))">@articleType.TargetItem.Fields["See More Article Text"].Value<span class="icomoon-chevron-small-right"></span></a>
    }
            </div>
        </div>
