@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@using Sitecore.Shell.Applications.ContentEditor
@model RenderingModel
@{
    var slideList = Model.Item.Children.ToList();
}
<section class="panel-area">
    <ul class="slider">
        @foreach (var item in slideList)
        {
            ReferenceField referenceField = (ReferenceField) item.Fields["Reference Item"];
            ReferenceField sublineVersionsField = (ReferenceField) item.Fields["Sub Version Slide Style"];

            string title = item.Fields["Slide Title"].Value;
            string text =  item.Fields["Slide Intro"].Value;
            string imgsrc = LandmarkHelper.ImageFieldSrc("Slide Image", item);
            string buttonText = item.Fields["Slide Button Text"].Value;
            string buttonLink = string.Empty;
            LinkField link = item.Fields["Slide Button Link"];
            if (link != null)
            {
                if (link.LinkType == "internal")
                {
                    if (link.TargetItem != null)
                    {
                        buttonLink = LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(link.TargetItem));
                    }

                }
                if (link.LinkType == "external")
                {
                    buttonLink = link.Url;
                }
            }
            if (sublineVersionsField.Value.Equals(ItemGuids.TwoNumbersTwoCaptionsTextLink))
            {
                title = item.Fields["Slide Numbers Text Title"].Value;
            }
            else
            {
                if (string.IsNullOrEmpty(title))
                {
                    if (referenceField.TargetItem != null)
                    {
                        title = referenceField.TargetItem.Fields["Article Headline"].Value;
                    }
                }
            }
            if (string.IsNullOrEmpty(text))
            {
                if (referenceField.TargetItem != null)
                {
                    text = referenceField.TargetItem.Fields["Article Intro"].Value;
                }
            }
            if (string.IsNullOrEmpty(imgsrc))
            {
                if (referenceField.TargetItem != null)
                {
                    imgsrc = LandmarkHelper.GetCallOutImage(referenceField.TargetItem);
                }
            }
            if (referenceField != null && referenceField.TargetItem != null)
            {
                <li>
                    <div class="@LandmarkHelper.GetSlideClass(item) clearfix">
                        @if (string.IsNullOrEmpty(item.Fields["Slide Video"].Value))
                        {
                            <div class="panel-img" data-bg="@imgsrc"></div>
                        }
                        else
                        {
                            <div class="panel-img gd-lightbox-link gd-lightbox-video" data-bg="@imgsrc" data-lightsrc="@item.Fields["Slide Video"].Value" 
                                data-lighttitle="@title" data-lightposter="@LandmarkHelper.ImageFieldSrc("Slide Video Poster",item)"></div>
                        }
                        
                        <div class="panel-main">
                            <div class="panel-text">
                                <hgroup class="clearfix">
                                    @if (sublineVersionsField.Value.Equals(ItemGuids.TwoNumbersTwoCaptionsTextLink))
                                    {
                                        @title
                                    }
                                    else
                                    {
                                        <h3>
                                        @title
                                            </h3>
                                    } 
                                </hgroup>
                                <div class="panel-content">
                                    @text
                                </div>
                                @if (string.IsNullOrEmpty(item.Fields["Slide Button Text"].Value))
                                {
                                    @Html.Sitecore().Field("Slide Button Link", item, new { Class = "btn btn-default", text = Html.Sitecore().Field("Slide Button Text", item))
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
            
        }
    </ul>

    <div class="scroll-area"> <a href="#"><span class="sprite-scroll"></span><br>
    <span class="hidden-xs">@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ScrollToBeginGuidItem))</span> </a> </div>
    <div class="prev"> <a href="#"><span class="sprite-icon-l"></span></a> </div>
    <div class="next"> <a href="#"><span class="sprite-icon-r"></span></a> </div>
</section>