@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel

@*@{
        var advertsList = Sitecore.Context.Item.GetDescendantsByTemplateWithFallback(ItemGuids.AdvertTemplateItemGuid).Take(2);
    }*@
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
}
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 page-menu">
                <ul class="clearfix">
                    @foreach (Item child in LandmarkHelper.GetChildrenPageInNavigation(Sitecore.Context.Item))
                    {
                        Item byBrands = (from item in child.Children where item.DisplayName.ToUpper() == ItemGuids.ByBrandsGuidItem.DisplayName.ToUpper() select item).First();
                        <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(byBrands)">@child["Page Title"].ToUpper()</a></li>
                    }
                </ul>
                <p>
                    @Html.Sitecore().Field("Glossary Value", ItemGuids.AlsoInterestedInGuidItem) 
                    @{
                        List<string> relatedCategorieIDs = shoppingHelper.GetRelatedCategoriesIDs();
                        var shoppingItems = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.ShoppingItem, ItemGuids.T11PageTemplate);
                        foreach (var item in shoppingItems)
                        {
                            if (relatedCategorieIDs != null && relatedCategorieIDs.Count != 0)
                            {
                                foreach (var id in relatedCategorieIDs)
                                {
                                    var category = Sitecore.Context.Database.GetItem(id);
                                    if (category.DisplayName == item.DisplayName)
                                    {
                                        <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">@item.DisplayName</a>
                                    }
                                }
                            }
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 menbox">
                <div class=" menbox-1">
                    <a href="#" class="menbox-img">
                        <div class="menbox-img-mask"></div>
                        @{
                            string src = Html.Sitecore().ImageFieldSrc("Banner Title Image", Sitecore.Context.Item);
                        }
                        <img data-src="@Html.Sitecore().ImageFieldSrc("Banner Image", Sitecore.Context.Item)" alt="landmark">
                        <div class="menbox-text">
                            @if (!string.IsNullOrEmpty(src))
                            {
                                <img data-src="@src" alt="landmark">
                            }
                            <p>@Html.Sitecore().Field("Banner Content", Sitecore.Context.Item)</p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="content-area content-area-bg">
    @*@Html.Sitecore().Placeholder("content-area content-area-bg")*@
</section>
