@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel

@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
}
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-6">
                <h1>@Sitecore.Context.Item["Page Title"].ToUpper()</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 link-seeall">
                <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.AllByBrandsPage)))">
                    @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.SeeAllBrandsGuidItem))<span class="icomoon-chevron-small-right"></span></a>
            </div>
        </div>
    </div>
</section>
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 page-menu">
                <ul class="clearfix">
                    @foreach (Item child in LandmarkHelper.GetChildrenPageInNavigation(Sitecore.Context.Item))
                    {
                        Item byBrands = (from item in child.Children where item.DisplayName.ToUpper() == ((Item) Factory.GetDatabase("web").GetItem(ItemGuids.ByBrandsGuidItem)).DisplayName.ToUpper() select item).First();
                        <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(byBrands))">@child["Page Title"].ToUpper()</a></li>
                    }
                </ul>
                <p>
                    @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.AlsoInterestedInGuidItem)) <br/>
                    @{
                        List<string> relatedCategorieIDs = shoppingHelper.GetRelatedCategoriesIDs();
                        var shoppingItems = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.ShoppingItem, ItemGuids.T11PageTemplate);
                        foreach (var item in shoppingItems)
                        {
                            if (relatedCategorieIDs != null && relatedCategorieIDs.Count != 0)
                            {
                                foreach (var id in relatedCategorieIDs)
                                {
                                    var category = Sitecore.Context.Database.GetItem(id);
                                    if (category.DisplayName == item.DisplayName)
                                    {
                                        <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))">@item.Fields["Page Title"]</a>
                                    }
                                }
                            }
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 menbox">
                <div class=" menbox-1">
                    <a href="#" class="menbox-img">
                        <div class="menbox-img-mask"></div>
                        @{
                            string src = Html.Sitecore().ImageFieldSrc("Banner Title Image", Sitecore.Context.Item);
                        }
                        <img data-src="@Html.Sitecore().ImageFieldSrc("Banner Image", Sitecore.Context.Item)" alt="landmark">
                        <div class="menbox-text">
                            @if (!string.IsNullOrEmpty(src))
                            {
                                <img data-src="@src" alt="landmark">
                            }
                            <p>@Html.Sitecore().Field("Banner Content", Sitecore.Context.Item)</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 menbox">
                @{
                    ReferenceField exclusiveField = Sitecore.Context.Item.Fields["Related Exclusive Item"];
                    Item exclusiveItem = null;
                    Item brandItem = null;
                    bool ishasDetails;
                    string href = string.Empty;
                    if (exclusiveField != null)
                    {
                        if (exclusiveField.TargetItem != null)
                        {
                            exclusiveItem = exclusiveField.TargetItem;
                            if (exclusiveItem.Fields["Brand"] != null)
                            {
                                MultilistField brandField = ((MultilistField)exclusiveItem.Fields["Brand"]);
                                if (brandField != null && brandField.TargetIDs != null && brandField.TargetIDs.Length > 0)
                                {
                                    var brand = brandField.TargetIDs.FirstOrDefault();
                                    if (Sitecore.Context.Database.GetItem(brand) != null)
                                    { brandItem = Sitecore.Context.Database.GetItem(brand); }
                                }
                            }
                            ishasDetails = ((CheckboxField)exclusiveItem.Fields["Has Detailed"]).Checked;
                            href = ishasDetails ? LinkManager.GetItemUrl(exclusiveItem) : string.Empty;
                        }
                    }
                }
                @if (exclusiveItem != null)
                {
                    <div class=" menbox-2">
                        <a href="@href"  class="menbox-img" >
                            <div class="menbox-img-mask"></div>
                            <img data-src="@LandmarkHelper.GetCallOutImage(exclusiveItem)" alt="landmark" class="lazy-loaded" />
                        </a>
                        <div class="menbox-text">
        
                                @if (brandItem != null)
                                {
                                    <a href="@href" class="menbox-title">
                                        <h3>@Html.Sitecore().Field("Brand Title", brandItem)</h3>
                                    </a>
                                }
                            <h4>@Html.Sitecore().Field("Article Type", ((ReferenceField) exclusiveItem.Fields["Article Type"]).TargetItem).ToString().ToUpper()</h4>
                            <p>@Html.Sitecore().Field("Article Headline", exclusiveItem)</p>
                        </div>
                    </div>
                }
                
                <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.MonthlyExclusivePage)))" class="pull-right menbox-more">
                    @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.SeeAllExclusive))<span class="icomoon-chevron-small-right"></span></a>

            </div>
            </div>
        </div>
</section>
<section class="content-area content-area-bg">
<div class="container2">
    <div class="row">
@Html.Sitecore().Placeholder("t11-pulled-content")
    </div>
  </div>
</section>
