@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel

@{
    var advertsList = Sitecore.Context.Item.GetDescendantsByTemplateWithFallback(ItemGuids.AdvertTemplateItemGuid).Take(2);
}

<section class="content-area">
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 page-menu">
          <ul class="clearfix">
              @foreach (Sitecore.Data.Items.Item child in LandmarkHelper.GetChildrenPageInNavigation(Sitecore.Context.Item))
              {
                  <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(child)">@child["Page Title"].ToUpper()</a></li>
              }
          </ul>
        <p>@Html.Sitecore().Field("Glossary Value",ItemGuids.AlsoInterestedInGuidItem) <a href="">EYEWEAR</a>, <a href="">ACCESSORIES</a>, <a href="">GADGETS</a></p>
      </div>
          @for (int i=0;i<2;i++)
          {
              <div class="col-lg-4 col-md-4 col-sm-4 menbox">
                  <div class=" menbox-@(i + 1)">
                      <a href="#" class="menbox-img">
                          <div class="menbox-img-mask"></div>
                          @{
                              string src = Html.Sitecore().ImageFieldSrc("Advert Title Image", advertsList.ElementAt(i));
                          }
                          <img data-src="@Html.Sitecore().ImageFieldSrc("Advert Image", advertsList.ElementAt(i))" alt="landmark">
                          <div class="menbox-text">
                              @if (!string.IsNullOrEmpty(src))
                              {
                                  <img data-src="@src" alt="landmark">
                              }
                              else
                              {
                                  <a href="#" class="menbox-title">
                                      <h3>@Html.Sitecore().Field("Advert Title", advertsList.ElementAt(i))</h3></a>
                              }
                              <h4>EXCLUSIVES</h4>
                              <p>@Html.Sitecore().Field("Advert Description", advertsList.ElementAt(i))</p>
                          </div>
                      </a>
                  </div>
                  @if (i == 1)
                    {
                        <a href="" class="pull-right menbox-more">SEE ALL EXCLUSIVES<span class="icomoon-chevron-small-right"></span></a>
                    }
              </div>
          }

        
    </div>
  </div>
</section>
<section class="content-area content-area-bg">
    @*@Html.Sitecore().Placeholder("content-area content-area-bg")*@
</section>
