@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel
@{
    //var style = RenderingContext.CurrentOrNull.Rendering.Parameters["style"];
    //string styleclass = style == "styleA" ? "menbox-3" : "menbox-4";
    ShoppingHelper helper = new ShoppingHelper();
    var articles = helper.GetRandomCategory();
}
@if (articles != null)
{
    int i = 0;
    foreach (Item item in articles)
    {
        string styleclass = i == 0 || i == 1 ? " menbox-3" : " menbox-4";
        i++;
        string imgsrc = LandmarkHelper.ImageFieldSrc("Article Portrait Callout Image", item);
        if (string.IsNullOrEmpty(imgsrc))
        {
            imgsrc = LandmarkHelper.GetCallOutImage(item);
        }
        <div class="col-lg-4 col-md-4 col-sm-4 menbox">
            <div class="@styleclass">
                <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Model.Item))" class="menbox-img">
                    <div class="menbox-img-mask"></div>
                    <img data-src="@imgsrc" alt="image"> </a>
                <div class="menbox-text">
                    <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(item))" class="menbox-title">
                        <h3>@Html.Sitecore().Field("Article Headline", item)</h3></a>
                    <p>@Html.Sitecore().Field("Article Intro", item) <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(item))">@((object) Html.Sitecore().Field("Glossary Value", Factory.GetDatabase("web").GetItem(ItemGuids.ReadMoreItem)))</a>
                    </p>
                </div>
            </div>
        </div>
    }
}


