@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Links
@model RenderingModel
@{
    var style = RenderingContext.CurrentOrNull.Rendering.Parameters["style"];
    string styleclass = style == "styleA" ? "menbox-3" : "menbox-4";
}
<div class="col-lg-4 col-md-4 col-sm-4 menbox ">
<div class="menbox-4">
    <a href="@LinkManager.GetItemUrl(Model.Item)" class="menbox-img">
        <div class="menbox-img-mask"></div>
        <img data-src="@Html.Sitecore().ImageFieldSrc("Article Portrait Callout Image", Model.Item)" alt=" image">
        <div class="menbox-text">
            <div>
                <h3>@Html.Sitecore().Field("Article Headline", Model.Item)</h3>
                <p>
                    @Html.Sitecore().Field("Article Intro", Model.Item)
                </p>
                <span class="btn btn-default"> @Html.Sitecore().Field("Glossary Value", SitecoreItems.DiscoverMoreItem)</span> </div>
        </div>
    </a>
</div>
</div>