@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Links
@using Sitecore.Mvc.Extensions
@model RenderingModel
@{
    InspirationHelper inspirationHelper = new InspirationHelper();
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    Sitecore.Data.Items.Item brandItem = null;
    var exclusivesItem = inspirationHelper.GetDetailsMonthlyExclusives(category: shoppingHelper.GetCategoryFromItem(Sitecore.Context.Item.ID.ToString()).ID.ToString());
    Random random = new Random();
    int num1 = random.Next(0, exclusivesItem.Count);
    bool ishasDetails = false;
    string href = string.Empty;
    if (exclusivesItem[num1] != null)
    {
        if (exclusivesItem[num1].Fields["Brand"] != null)
        {
            MultilistField brandField = ((MultilistField)exclusivesItem[num1].Fields["Brand"]);
            if (brandField != null && brandField.TargetIDs != null && brandField.TargetIDs.Length > 0)
            {
                var brand = brandField.TargetIDs.FirstOrDefault();
                if (Sitecore.Context.Database.GetItem(brand) != null)
                { brandItem = Sitecore.Context.Database.GetItem(brand); }
            }
        }
        ishasDetails = ((CheckboxField)exclusivesItem[num1].Fields["Has Detailed"]).Checked;
        href = ishasDetails ? LinkManager.GetItemUrl(exclusivesItem[num1]) : string.Empty;
    }
    
}
@if (exclusivesItem[num1] != null)
{
<div class=" menbox-2">
    <a href="@href"  class="menbox-img" >
        <div class="menbox-img-mask"></div>
        <img data-src="@LandmarkHelper.GetCallOutImage(exclusivesItem[num1])" alt="landmark" class="lazy-loaded">
    </a>
    <div class="menbox-text">
        
            @if (brandItem != null)
            {
                <a href="@href" class="menbox-title">
                    <h3>@Html.Sitecore().Field("Brand Title", brandItem)</h3>
                </a>
            }
        <h4>@Html.Sitecore().Field("Article Type", ((ReferenceField) exclusivesItem[num1].Fields["Article Type"]).TargetItem).ToString().ToUpper()</h4>
        <p>@Html.Sitecore().Field("Article Headline", exclusivesItem[num1])</p>
    </div>
</div>
}