@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Links
@using Sitecore.Mvc.Extensions
@model RenderingModel
@{
    InspirationHelper inspirationHelper = new InspirationHelper();
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    Sitecore.Data.Items.Item brandItem = null;
    var exclusiveItem = inspirationHelper.GetDetailsMonthlyExclusives(category: shoppingHelper.GetCategoryFromItem(Sitecore.Context.Item.ID.ToString()).ID.ToString()).FirstOrDefault();
    bool ishasDetails = false;
    string href = string.Empty;
    if (exclusiveItem != null)
    {
        if (exclusiveItem.Fields["Brand"] != null)
        {
            MultilistField brandField = ((MultilistField)exclusiveItem.Fields["Brand"]);
            if (brandField != null && brandField.TargetIDs != null && brandField.TargetIDs.Length > 0)
            {
                var brand = brandField.TargetIDs.FirstOrDefault();
                if (Sitecore.Context.Database.GetItem(brand) != null)
                { brandItem = Sitecore.Context.Database.GetItem(brand); }
            }
        }
        ishasDetails = ((CheckboxField) exclusiveItem.Fields["Has Detailed"]).Checked;
        href = ishasDetails ? LinkManager.GetItemUrl(exclusiveItem) : string.Empty;
    }
    
}
@if(exclusiveItem!=null)
{
<div class=" menbox-2">
    <a href="@href"  class="menbox-img" >
        <div class="menbox-img-mask"></div>
        <img data-src="@LandmarkHelper.GetCallOutImage(exclusiveItem)" alt="landmark" class="lazy-loaded">
    </a>
    <div class="menbox-text">
        
            @if (brandItem != null)
            {
                <a href="@href" class="menbox-title">
                    <h3>@Html.Sitecore().Field("Brand Title", brandItem)</h3>
                </a>
            }
        <h4>@Html.Sitecore().Field("Article Type", ((ReferenceField) exclusiveItem.Fields["Article Type"]).TargetItem).ToString().ToUpper()</h4>
        <p>@Html.Sitecore().Field("Article Headline", exclusiveItem)</p>
    </div>
</div>
}