@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    MagezineHelper helper = new MagezineHelper();
    var parent = Sitecore.Context.Item.Parent;
    var stories = helper.GetStoriesByCategory(Request["type"]);

}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@parent["Page Title"].ToUpper()</h2>
        </div>
        @Html.Sitecore().Rendering(ItemGuids.T36CategoryTypeViewGuid, new
            {
                Cacheable = false,
                CacheKey = "category-type",
                Cache_VaryByData = true,
            })
    </div>
    <div class="gd-magazine-info">
        <div class="row">
            <div class="col-sm-6">
                <img data-src="@Html.Sitecore().ImageFieldSrc("Callout Image", stories[7])">
            </div>
            <div class="col-sm-6">
                <div class="gd-magazine-info-text">
                    <h3>@Html.Sitecore().Field("Story Name", stories[0])</h3>
                    @{
                        DateField storyDate = stories[0].Fields["Story Date"];
                        var date = LandmarkHelper.ToValidDateTime(storyDate);
                    }
                    <h5>@date.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</h5>
                    <p>@Html.Sitecore().Field("Story Content", stories[0])</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-promotion-box-area">
        <div class="row">
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-01.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-02.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-03.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-01.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-02.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gd-promotion-box">
                    <img data-src="../files/landmark/images/others/cateogry-img-03.jpg">
                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                    <h5>JUN 2015</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="gd-promo-more"><a href="/en/t37.html?page=2">SEE MORE +</a></div>
</div>
