@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Collections
@model RenderingModel
@{
    MagezineHelper helper = new MagezineHelper();
    var parent = Sitecore.Context.Item.Parent;
    var stories = helper.GetStoriesByPager(Request["type"], Convert.ToInt32(Request["page"]));
    List<Item> list1 = new ItemList();
    List<Item> list2 = new ItemList();
}

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@parent["Page Title"].ToUpper()</h2>
        </div>
        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T36CategoryTypeViewGuid)
    </div>
    <div class="gd-magazine-info">
        <div class="row">
            @if (stories.Count() != 0)
            {
                <div class="col-sm-6">
                    <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(stories.First()))">
                        <img data-src="@LandmarkHelper.GetCallOutImage(stories.First())" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="gd-magazine-info-text">
                        <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(stories.First()))">
                            <h3>@Html.Sitecore().Field("Article Headline", stories.First())</h3>
                        </a>
                        @{
                DateField storyDate = stories.First().Fields["Article Date"];
                var date = LandmarkHelper.ToValidDateTime(storyDate);
                        }
                        <h5>@date.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture).ToUpper()</h5>
                        <div class="gd-longarticle-fixedlines">
                            <p>@Html.Sitecore().Field("Article Intro", stories.First())</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (stories.Count > 1)
    {
        var storyList = stories.GetRange(1, stories.Count - 1).ToList();
        if (storyList.Count >= 3)
        {
            list1 = storyList.GetRange(0, 3);
            list2 = storyList.GetRange(3, storyList.Count - 3);
        }
        else
        {
            list1 = storyList;
        }
    }
    <div class="gd-promotion-box-area">
        <div class="row">
            @if (list1.Count != 0)
            {
                foreach (var item in list1)
                {
                    <div class="col-sm-4">
                        <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))">
                            <div class="gd-promotion-box">
                                <img data-src="@LandmarkHelper.GetCallOutImage(item)" />
                                <h4>@Html.Sitecore().Field("Article Headline", item)</h4>
                                @{
                    DateField itemDate = item.Fields["Article Date"];
                    var itemdate = LandmarkHelper.ToValidDateTime(itemDate);
                                }
                                @if (!itemDate.ToString().Contains("0001"))
                                {
                                    <h5>@itemdate.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture).ToUpper()</h5>
                                }
                                <p>@Html.Sitecore().Field("Article Intro", item)</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="row">
            @if (list2.Count != 0)
            {
                foreach (var item in list2)
                {
                    <div class="col-sm-4">
                        <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))">
                            <div class="gd-promotion-box">
                                <img data-src="@LandmarkHelper.GetCallOutImage(item)" />
                                <h4>@Html.Sitecore().Field("Article Headline", item)</h4>
                                @{
                    DateField itemDate = item.Fields["Article Date"];
                    var itemdate = LandmarkHelper.ToValidDateTime(itemDate);
                                }
                                @if (!itemDate.ToString().Contains("0001"))
                                {
                                    <h5>@itemdate.ToString("MMM yyyy", System.Globalization.CultureInfo.InvariantCulture).ToUpper()</h5>
                                }
                                <p>@Html.Sitecore().Field("Article Intro", item)</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="gd-promo-more">
        <a href="?type=@Request["type"]&page=2">@Html.Sitecore().Field("Glossary Value", SitecoreItems.SeeMoreItem) +</a>
    </div>
</div>
