@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    ArtTourHelper helper = new ArtTourHelper();

    var artPieces = helper.GetArtByArtist(Sitecore.Context.Item.ID.ToString());
}
<div class="container">

    <div class="gd-artlist">
        <h3>@Html.Sitecore().Field("Glossary Value", SitecoreItems.ByThisArtistItem)</h3>
        <div class="row">

            @if (artPieces != null && artPieces.Count != 0)
            {
                if (artPieces.Count > 4)
                {
                    artPieces = artPieces.GetRange(0, 4);
                }

                foreach (var item in artPieces)
                {
                    <div class="col-sm-3">
                        <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)" class="gd-hover-img">
                            <div class="gd-hover-img-area">
                                <div class="gd-hover-img-mask"></div>
                                <img data-src="@Html.Sitecore().ImageFieldSrc("Art Image", item)" alt="artpiece picture">
                            </div>
                            <h4>@Html.Sitecore().Field("Art Title", item)</h4>
                            <p>@Html.Sitecore().Field("Art Key", item) @Html.Sitecore().Field("Art Size", item)</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
