@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    ArtTourHelper helper = new ArtTourHelper();
    var artist = helper.GetArtistByArt(Sitecore.Context.Item);
}


<a href="@Sitecore.Links.LinkManager.GetItemUrl(artist)" class="gd-artplace-profile">
    @*<img src="../files/landmark/images/artpiece/artpiece-person-01.png" alt="artpiece picture">*@
    @Html.Sitecore().Field("Artist Photo", artist)
    <div class="gd-artplace-profile-title">
        <h5>@Html.Sitecore().Field("Artist Name", artist)</h5>
        <p>@Html.Sitecore().Field("Artist Birthday Label", artist) @Html.Sitecore().Field("Artist Birthday Text", artist)</p>
    </div>
</a>


<div class="gd-artplace-profile-info row">
    <div class="col-sm-12 gd-longarticle" data-text-on="@Html.Sitecore().Field("Glossary Value", SitecoreItems.ReadMoreItem) +" data-text-off="@Html.Sitecore().Field("Glossary Value",SitecoreItems.LessItem) -">
    <p>
    @Html.Sitecore().Field("Art Description")
    </p>
    </div>
</div>