@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel


<div class="container">
    <div class="gd-artplace">
        <div class="row">
            <div class="col-sm-12 visible-xs-block visible-sm-block">
                <div class="gd-pagetitle ">
                    <div class=" gd-pagetitle-heading">
                        <h1>@Html.Sitecore().Field("Art Piece Name"), @Html.Sitecore().Field("Art Created Time")</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="gd-pagetitle">
                    @{
                        ImageField imageField = Sitecore.Context.Item.Fields["Art Image"];

                        string alt = imageField.Alt;
                    }
                    <img class="gd-lightbox-link" data-lightsrc="https://boredanddangerousblog.files.wordpress.com/2014/06/edgeoftomorrow2.jpg" src="@Html.Sitecore().ImageFieldSrc("Art Image", Sitecore.Context.Item)" alt="@alt">
                </div>
            </div>
            <div class="col-md-6">
                <div class="gd-pagetitle">
                    <div class="hidden-xs  hidden-sm gd-pagetitle-heading">
                        <h1>@Html.Sitecore().Field("Art Piece Name"), @Html.Sitecore().Field("Art Created Time")</h1>
                    </div>

                    <div class="gd-artplace-details row">
                        <div class="col-md-6 gd-artplace-info">
                            ACYLIC AND @Html.Sitecore().Field("Art Type")<br>
                            @Html.Sitecore().Field("Art Size")
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="javascript:;" class="gd-button gd-button-white text-center" data-player="sample.mp3">
                                <span class="icomoon-sound-alt"></span>
                                @Html.Sitecore().Field("Glossary Value", ItemGuids.ListenToCommentaryItem)
                            </a>
                        </div>
                    </div>
                    <div class="gd-artplace-details row">
                        <div class="col-sm-2 gd-artplace-location">LOCATION</div>
                        <div class="col-sm-10 gd-artplace-location-info">
                            G/F One Exchange Square<br>
                            <a href="#" class="gd-link-map gd-lightbox-link" data-lightsrc="/en/t7/floorplan-0.png" data-lighttitle="PUT LIGHTBOX TITLE HERE">
                                <span class="icomoon-location2"></span> FLOOR PLAN
                            </a>
                        </div>
                    </div>

                    <div class="gd-artplace-profile">
                        <img src="../files/landmark/images/artpiece/artpiece-person-01.png" alt="artpiece picture">
                        <div class="gd-artplace-profile-title">
                            <h4>BO YUN</h4>
                            <p>b. 1954</p>
                        </div>
                    </div>

                    <div class="gd-artplace-profile-info row">
                        <div class="col-sm-12 gd-longarticle">
                            <p>
                                Bo Yun, born Li Yong-cun, graduated from the China Central Academy of Fine Arts in Beijing and taught at the Academy of Arts &amp; Design of Tsinghua University from 1981 to 2005. Now a freelance professional artist, Boyun was featured in the first and second Stars Art Exhibitions, and his works have been exhibited extensively in France, Japan, Germany, the United States, the Netherlands, Switzerland and Hong Kong. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestias dolores consequatur repellendus soluta temporibus odio quam, enim quidem, fuga quas repudiandae consequuntur debitis, veniam reiciendis earum quos! Autem voluptatibus animi cum nulla. Reprehenderit, nam, ducimus. Cumque delectus eum earum, voluptates architecto ab natus hic, fugiat fugit, distinctio assumenda! Ad molestias quasi amet alias sunt dignissimos eius. Quas, perferendis. Aspernatur quo quibusdam sit blanditiis? Autem animi at, error laudantium commodi maiores laborum quis ducimus neque praesentium ipsam eum itaque asperiores minus sequi velit unde id doloremque beatae tempora. Repudiandae, explicabo soluta. Blanditiis voluptates voluptate eius numquam maiores nobis cum aliquid.
                            </p>
                            <a href="javascript:;" class="gd-artplace-more gd-longarticle-switcher">READ MORE +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gd-showcase" data-position="0">
    <a href="javascript:;" class="gd-showcase-control gd-showcase-left">
        <span class="icomoon-thin-arrow-L"></span>
    </a>
    <div class="container">
        <h2>ALSO IN LANDMARK ARTRIUM</h2>
        <div class="gd-showcase-content">
            <ul class="gd-showcase-items clearfix">
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-01.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatum cumque unde.</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-02.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit porro, nemo modi.</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-03.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis facilis quidem magnam.</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-04.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid unde maiores a?</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-01.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, placeat mollitia. Delectus!</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../files/landmark/images/artist/artist-picture-02.jpg" alt="">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, doloremque, necessitatibus. Dicta.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a href="javascript:;" class="gd-showcase-control gd-showcase-right">
        <span class="icomoon-thin-arrow-R"></span>
    </a>
</div>