@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Links
@model RenderingModel
@{
    var referenceItem = Model.Item;
}

@if (referenceItem != null)
{
    @Html.Sitecore().Field("Reference Image", referenceItem)
    <h3>@Html.Sitecore().Field("Reference Title", referenceItem)</h3>
    <p>@Html.Sitecore().Field("Reference Content", referenceItem)</p>
    <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(referenceItem))">
        @((object) Html.Sitecore().Field("Glossary Value", Factory.GetDatabase("web").GetItem(ItemGuids.LearnMoreItem))) <span class="sprite-menu-r"></span></a>
}