@using Landmark.Classes
@model RenderingModel
<div class="back-top clearfix"><a href="javascript:;" class="back-to-top">TOP</a></div>
<footer class="site-footer">
    <section class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="footer-nav-area">
                    @Html.Sitecore().Rendering(ItemGuids.FooterNavRenderingViewGuid)
                </div>
                <div class="footer-signup">
                    @Html.Sitecore().Rendering(ItemGuids.FooterSocialMediaRenderingGuid)
                </div>
            </div>
        </div>
    </section>
    <section class="footer-info">
        @Html.Sitecore().Rendering(ItemGuids.FooterConfigRenderingViewGuid)
    </section>
</footer>

<div id="portrait_only" class="portrait_only hidden">
    <div class="content">
        <p>@Html.Sitecore().Field("Portrait Only Text", ItemGuids.LandmarkConfigItem)</p>
        @Html.Sitecore().Field("Portrait Only Image", ItemGuids.LandmarkConfigItem,new{@class="rotate_icon",width="100",height="100"})
    </div>
</div>


