@model RenderingModel
@using Landmark.Helper
@using Landmark.Classes
@{
    string src = Html.Sitecore().ImageFieldSrc("Hongkong Land Image", SitecoreItems.LandmarkConfigItem);
}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            @Html.Sitecore().Field("Footer Content")
            <div class="footer-logo">
                @Html.Sitecore().Field("Hongkong Land Link", SitecoreItems.LandmarkConfigItem, new {text = "<img data-src='" + src + "' alt='HongKong Land'>"})
            </div>
            <div class="footer-copyright">
                @Html.Sitecore().Field("Copyright Left Text", SitecoreItems.LandmarkConfigItem)
                @DateTime.Now.Year
                @Html.Sitecore().Field("Copyright Right Text", SitecoreItems.LandmarkConfigItem)
            </div>
        </div>
        <div class="col-sm-3 footer-legal">
            <p><a href="@Sitecore.Links.LinkManager.GetItemUrl(SitecoreItems.LegalPrivacyItem)">@Html.Sitecore().Field("Page Title",SitecoreItems.LegalPrivacyItem)</a>
            </p>
        </div>
    </div>
</div>