@using Landmark.Classes
@using Landmark.Helper
@model RenderingModel

<script>
  var DataLayer = { 
    /* page level data, populate value when applicable */ 
      'shop_name': '@AdobeTrackingDataLayerHelper.GetShopName()',
      'building_name': '@AdobeTrackingDataLayerHelper.GetBuildingName()', 
      'restaurant_name': '@AdobeTrackingDataLayerHelper.GetRestaurantName()', 
      'article_title': '@AdobeTrackingDataLayerHelper.GetArticleTitle()', 
      'language': '',
      'pageName': '@AdobeTrackingDataLayerHelper.GetPageName()'
  }
</script>
<header class="site-header">
    <!-- desktop -->
    <div class="container hidden-sm  hidden-xs">
        <div class="language ">
            <div class="header-social-wrapper">
                <a href="" class="icomoon-share"></a>
                <div class="header-social">
                  <a href="" class="icomoon-facebook"></a>
                  <a href="" class="icomoon-twitter"></a>
                  <a href="" class="icomoon-sina-weibo"></a>
                  <a href='@ItemGuids.LandmarkConfigItem.Fields["Share Email To"].Value' class="icomoon-envelop"></a>
                </div>
              </div>
            <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "zh-HK")" class="lang-cn">@Html.Sitecore().Field("Glossary Value", ItemGuids.TraditionalChineseGuidItem)</a> |
            <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "zh-CN")" class="lang-cn">@Html.Sitecore().Field("Glossary Value", ItemGuids.SimplifiedChineseGuidItem)</a>
            <div class="sb-search">
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    @Html.Sitecore().FormHandler("Search", "SearchContent")
                    <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", ItemGuids.SearchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <a class="sb-search-clear icomoon-circle-with-cross" href="javascript:;"></a>
                    <span class="icomoon-search"></span>
                }
            </div>
        </div>
        @Html.Sitecore().Rendering(ItemGuids.NavigationRenderingViewGuid)
    </div>

    <!--mobile menu-->

    <div class="container visible-xs-block  visible-sm-block">
        <nav class="clearfix">
            <a class="lines-button pull-left" type="button" role="button" aria-label="Navigation">
            <span class="lines"></span>
            </a>
            <div class="sb-search">
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    @Html.Sitecore().FormHandler("Search", "SearchContent")
                    <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", ItemGuids.SearchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <a class="sb-search-clear icomoon-circle-with-cross" href="javascript:;"></a>
                    <span class="icomoon-search"></span>
                }
            </div>

            <div class="mobile-menu">
                <div class="scroll-content">
                    @Html.Sitecore().Rendering(ItemGuids.MobileNavigationRenderingViewGuid)
                    <div class="language">
                        <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Field("Glossary Value", ItemGuids.TraditionalChineseGuidItem)</a>
                        <span class="gap">|</span>
                        <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Field("Glossary Value", ItemGuids.SimplifiedChineseGuidItem)</a>
                    </div>
                </div>
            </div>
            <h1>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(ItemGuids.LandmarkHomeItem)">
                    <img class="responsive-logo" src="@Html.Sitecore().ImageFieldSrc("Landmark Logo",ItemGuids.LandmarkConfigItem)" alt="landmark">
                </a>
            </h1>
        </nav>
    </div>
</header>
