@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Items
@using Sitecore.Data.Managers
@using Sitecore.Globalization
@model RenderingModel
@{
    var languages = LandmarkHelper.GetLanguages();
    int i = 1;
}
<script>
    var DataLayer = {
        /* page level data, populate value when applicable */
        'shop_name': '@AdobeTrackingDataLayerHelper.GetShopName()',
        'building_name': '@AdobeTrackingDataLayerHelper.GetBuildingName()',
        'restaurant_name': '@AdobeTrackingDataLayerHelper.GetRestaurantName()',
        'article_title': '@AdobeTrackingDataLayerHelper.GetArticleTitle()',
        'language': '',
        'pageName': '@AdobeTrackingDataLayerHelper.GetPageName()'
    }
</script>
@{ CustomReplace = true;}
<header class="site-header">
    <!-- desktop -->
    <div class="container hidden-sm  hidden-xs">
        <div class="language ">
            <div class="header-social-wrapper">
                <a href="" class="icomoon-share"></a>
                <div class="header-social">
                    <a href="" class="icomoon-facebook"></a>
                    <a href="" class="icomoon-twitter"></a>
                    <a href="" class="icomoon-sina-weibo"></a>
                </div>
            </div>
            @{
                var languageFolderGuidItem = Factory.GetDatabase("web").GetItem(ItemGuids.LanguageFolderGuidItem);
            }
            @foreach (var lan in languages)
            {
                if (languageFolderGuidItem != null && languageFolderGuidItem.Children.Count != 0)
                {
                    foreach (Item languageText in languageFolderGuidItem.Children)
                    {
                        if (languageText.DisplayName.ToLower() == lan.Name.ToLower())
                        {
                            <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, @lan.Name)" class="lang-cn">@Html.Sitecore().Field("Value", languageText)</a>
                        }
                    }
                }
                if (i != languages.Count())
                {
                    @Html.Raw(" | ")
                }
                i++;
            }

            <div class="sb-search">
                @{
                    var searchPlaceHolderItem = Factory.GetDatabase("web").GetItem(ItemGuids.SearchPlaceHolderItem);
                }
                @*@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                    {
                        @Html.Sitecore().FormHandler("Search", "SearchContent")
                        <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", searchPlaceHolderItem)" class="sb-search-input form-control">
                        <input class="sb-search-submit" type="submit" value="">
                        <a class="sb-search-clear icomoon-circle-with-cross" href="javascript:;"></a>
                        <span class="icomoon-search"></span>
                    }*@
                <form action="@Url.Action("SearchContent","Search")" id="searchForm">
                    <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", searchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <a class="sb-search-clear icomoon-circle-with-cross" href="javascript:;"></a>
                    <span class="icomoon-search"></span>
                </form>
            </div>
        </div>
        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.NavigationRenderingViewGuid)
    </div>

    <!--mobile menu-->

    <div class="container visible-xs-block  visible-sm-block">
        <nav class="clearfix">
            <a class="lines-button pull-left" type="button" role="button" aria-label="Navigation">
                <span class="lines"></span>
            </a>
            <div class="sb-search">
                <form action="@Url.Action("SearchContent","Search")" id="searchForm">
                    <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", searchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <a class="sb-search-clear icomoon-circle-with-cross" href="javascript:;"></a>
                    <span class="icomoon-search"></span>
                </form>
            </div>

            <div class="mobile-menu">
                <div class="scroll-content">
                    @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.MobileNavigationRenderingViewGuid)

                    <div class="language">
                        @{
                            int j = 1;
                        }
                        @foreach (var lan in languages)
                        {
                            if (languageFolderGuidItem != null && languageFolderGuidItem.Children.Count != 0)
                            {
                                foreach (Item languageText in languageFolderGuidItem.Children)
                                {
                                    if (languageText.DisplayName.ToLower() == lan.Name.ToLower())
                                    {
                                        <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, @lan.Name)" class="lang-cn">@Html.Sitecore().Field("Value", languageText)</a>
                                    }
                                }
                            }
                            if (j != languages.Count())
                            {
                                <span class="gap">|</span>
                            }
                            j++;
                        }
                    </div>
                </div>
            </div>
            <div class="logo-area">
                <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(Factory.GetDatabase("web").GetItem(ItemGuids.LandmarkHomeItem)))">
                    <img class="responsive-logo" src="@Html.Sitecore().ImageFieldSrc("Landmark Logo", Factory.GetDatabase("web").GetItem(ItemGuids.LandmarkConfigItem))" alt="landmark">
                </a>
            </div>
        </nav>
    </div>
</header>

<script type="text/javascript">
    var string = document.getElementById('searchForm').getAttribute("action");
    if (string.indexOf('/tc') == 0) {
        var tc = string.replace('/tc', '');
        document.getElementById('searchForm').setAttribute("action", tc);
    }
    else if (string.indexOf('/sc') == 0) {
        var sc = string.replace('/sc', '');
        document.getElementById('searchForm').setAttribute("action", sc);
    }
</script>