@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Collections
@using Sitecore.Configuration
@using Sitecore.Data.Items
@using Sitecore.StringExtensions
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    List<Item> mediaItems = Sitecore.Context.Database.GetItem(ItemGuids.FooterSocialMediaFolderItem).Children.ToList();
}

<ul>
    @foreach (Item item in LandmarkHelper.GetChildrenPageInNavigation(Factory.GetDatabase("web").GetItem(ItemGuids.LandmarkHomeItem)))
    {

        <li><a href="#">@item.Fields["Page Title"].Value.ToUpper()<span class="sprite-icon-down pull-right"></span></a>
            @if (LandmarkHelper.GetChildrenPageInNavigation(item).Count > 0)
            {
                if (item.ID.ToString().Equals(ItemGuids.ShoppingItem) || item.ID.ToString().Equals(ItemGuids.DiningItem))
                {
                    if (item.ID.ToString().Equals(ItemGuids.ShoppingItem))
                    {
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ByCategoryGuidItem))<span class="sprite-icon-down pull-right"></span></a>
                                <ul class="sub-sub-menu">
                                    @foreach (Item itemcategory in shoppingHelper.GetCategoryItems(ItemGuids.ShoppingItem))
                                    {
                                        <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(itemcategory))">@itemcategory["Page Title"].ToUpper()</a></li>
                                    }
                                </ul>
                            </li>


                        <li>
                            <a href="#">
                                @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ByBrandsGuidItem))<span class="sprite-icon-down pull-right"></span></a>
                            <ul class="sub-sub-menu menu-brands">
                                @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.ByBrandsRenderingViewGuid)
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ByBuidingsGuidItem))<span class="sprite-icon-down pull-right"></span></a>
                            @{
                                List<Item> buidings = LandmarkHelper.GetBuildings();
                                Item allByBuildings = Sitecore.Context.Database.GetItem(ItemGuids.AllByBuildingsPage);
                            }
                            <ul class="sub-sub-menu">
                                @foreach (Item building in buidings)
                                {
                                    string href = LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(allByBuildings)) + "#" + building.Fields["Building Title"].Value.Replace(' ', '-');
                                    <li><a href="@href">@building.Fields["Building Title"].Value</a></li>
                                }
                            </ul>
                        </li>
                            
                    </ul>
                    }
                    if (item.ID.ToString().Equals(ItemGuids.DiningItem))
                    {
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ByCategoryGuidItem))<span class="sprite-icon-down pull-right"></span></a>
                                <ul class="sub-sub-menu">
                                    @foreach (Item itemcategory in shoppingHelper.GetCategoryItems(ItemGuids.DiningItem))
                                    {
                                        Item bybrands = itemcategory.Children.Where(i => i.DisplayName == "By Brands").FirstOrDefault();
                                        if (bybrands != null)
                                        {
                                            <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(bybrands))">@itemcategory["Page Title"].ToUpper()</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            
                    </ul>
                    }
                    
                }
                else
                {
                    <ul class="sub-menu">
                        @if (!(new Sitecore.Data.Fields.LayoutField(item).Value).IsNullOrEmpty() && item.ID.ToString() != ItemGuids.ServicesItem)
                        {
                            <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))">@item.Fields["Page Title"].Value.ToUpper()</a></li>
                        }
                        @foreach (Item childItem in LandmarkHelper.GetChildrenPageInNavigation(item))
                        {
                            
                            <li><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(childItem))">@childItem["Page Title"].ToUpper()</a></li>
                            
                        }
                    </ul>
                }

            }

        </li>
    }
</ul>

<div class="mobile-share">
    @Html.Sitecore().Field("Glossary Value",(Item) Factory.GetDatabase("web").GetItem(ItemGuids.ShareItem))
    <a href="" class="icomoon-facebook"></a>
            <a href="" class="icomoon-twitter"></a>
            <a href="" class="icomoon-sina-weibo"></a>
        </div>