@using Landmark.Classes
@using Landmark.Helper
@using Lucene.Net.Highlight
@using Sitecore.Data.Items
@model RenderingModel

<nav class="clearfix">
    <ul class="menu-left list-inline  ">
        @foreach (Item item in LandmarkHelper.GetChildrenPageInNavigation(ItemGuids.LandmarkHomeItem).Take(3))
        {
            <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">@item["Page Title"].ToUpper()</a>
                @if (LandmarkHelper.GetChildrenPageInNavigation(item).Count>0)
                {
                    <nav class="mega-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-9  col-sm-9">
                                    <div class=" mega-menu-area">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <h3>@item["Page Title"].ToUpper()</h3>
                                                <ul class=" mega-category">
                                                    @foreach (Item childItem in LandmarkHelper.GetChildrenPageInNavigation(item))
                                                    {
                                                        if (childItem.TemplateID.ToString().Equals(ItemGuids.T11PageTemplate))
                                                         {
                                                            <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(childItem)">@childItem["Page Title"].ToUpper()</a></li>
                                                         }
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <h3>@Html.Sitecore().Field("Glossary Value", ItemGuids.ByBrandsGuidItem)</h3>
                                                @Html.Sitecore().Rendering(ItemGuids.ByBrandsRenderingViewGuid, new
                                                {
                                                    Cacheable = false,
                                                    CacheKey = "bybrands",
                                                    Cache_VaryByData = true
                                                })
                                                <h3>@Html.Sitecore().Field("Glossary Value", ItemGuids.ByBuidingsGuidItem)</h3>
                                                @Html.Sitecore().Rendering(ItemGuids.ByBuildingsRenderingViewGuid, new
                                                {
                                                    Cacheable = false,
                                                    CacheKey = "bybuildings",
                                                    Cache_VaryByData = true
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3  col-sm-3">
                                    <div class="mega-product-area pull-right">
                                        @*@Html.Sitecore().Field("Ad Image",item)
                                        <h3>@Html.Sitecore().Field("Ad Title",item)</h3>
                                        <p>@Html.Sitecore().Field("Ad Description",item)</p>
                                        @Html.Sitecore().Field("Ad Learn More Link Url",item, new {text=Html.Sitecore().Field("Ad Learn More Link Text",item)+@"<span class='sprite-menu-r'></span>"})*@

                                        @Html.Sitecore().Placeholder("mega-menu-side-bar")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                }
                </li>
        }
    </ul>
    <h1>
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(ItemGuids.LandmarkHomeItem)">
            @Html.Sitecore().Field("Landmark Logo Image", ItemGuids.LandmarkConfigItem, new { @class = "img-logo" })
            @Html.Sitecore().Field("Landmark Logo", ItemGuids.LandmarkConfigItem, new { @class = "responsive-logo" })
        </a>
    </h1>
    <ul class="menu-right list-inline">
        @foreach (Item item in LandmarkHelper.GetChildrenPageInNavigation(ItemGuids.LandmarkHomeItem).Skip(3).Take(3))
        {
            <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">@item["Page Title"].ToUpper()</a>
                @if (LandmarkHelper.GetChildrenPageInNavigation(item).Count>0)
                {
                    <nav class="mega-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-9  col-sm-9">
                                    <div class=" mega-menu-area">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <h3>@item["Page Title"].ToUpper()</h3>
                                                <ul class=" mega-category">
                                                    @foreach (Sitecore.Data.Items.Item childItem in LandmarkHelper.GetChildrenPageInNavigation(item))
                                                    {
                                                        <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(childItem)">@childItem["Page Title"].ToUpper()</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <h3>BY BRANDS</h3>
                                                    @Html.Sitecore().Rendering(ItemGuids.ByBrandsRenderingViewGuid, new
                                                    {
                                                        Cacheable = false,
                                                        CacheKey = "bybrands",
                                                        Cache_VaryByData = true
                                                    })
                                                <h3>BY BUILDINGS</h3>
                                                @Html.Sitecore().Rendering(ItemGuids.ByBuildingsRenderingViewGuid, new
                                                {
                                                    Cacheable = false,
                                                    CacheKey = "bybuildings",
                                                    Cache_VaryByData = true
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3  col-sm-3">
                                    <div class="mega-product-area pull-right">
                                        @Html.Sitecore().Placeholder("mega-menu-side-bar")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                }
                </li>
        }
    </ul>
</nav>
