@using Landmark.Classes
@using Landmark.Helper
@{
    var tagsTrees = LandmarkHelper.GetTagsTree();
}
@foreach (var item in tagsTrees)
{
    <div>
        @{

            <a href="@Url.Action("SearchContent", "Search")?search=@item.CurrentItem["Tag Name"]">@item.CurrentItem["Tag Name"] - </a>
        }
        @for (int i=0;i<item.Children.Count;i++)
        {
            var splitStr = i == (item.Children.Count - 1) ? "" : ",";
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.SearchResultsPage))?searchString=@item.CurrentItem["Tag Name"]">@item.Children[i].CurrentItem["Tag Name"]
        @splitStr</a>
        }
    </div>
}