@using Landmark.Helper
@{
    var tagsTrees = LandmarkHelper.GetTagsTree();
}
@foreach (var item in tagsTrees)
{
    <div>
        @{

            <a href="@Url.Action("SearchContent", "Search")?search=@item.CurrentItem["Category Name"]">@item.CurrentItem["Category Name"] - </a>
        }
        @for (int i=0;i<item.Children.Count;i++)
        {
            var splitStr = i == (item.Children.Count - 1) ? "" : ",";
        <a href="@Url.Action("SearchContent", "Search")?search=@item.CurrentItem["Category Name"]">@item.Children[i].CurrentItem["Category Name"]
        @splitStr</a>
        }
    </div>
}