@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
<div class="container">
    <div class="gd-pagetitle">
        @Html.Sitecore().Placeholder("t34-pagetitle")
    </div>
</div>
<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel">
    @Html.Sitecore().Placeholder("t34-slides")

    <div class="carousel-caption">
        <div class="carousel-caption-inner">
            <div class="gd-carousel-detail">
                <div class="gd-mainimage-brief">
                    @Html.Sitecore().Placeholder("slide-text")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gd-bigbrand">
        <img data-src="@Html.Sitecore().ImageFieldSrc("Hotel Logo", Sitecore.Context.Item)">
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>
                @Html.Sitecore().Field("Content Title")
            </h3>
        </div>
        <div class="gd-brief-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>
                        @Html.Sitecore().Field("Content Description")
                    </p>
                </div>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("special-offers")
    @Html.Sitecore().Placeholder("about-hotel")
   
</div>