@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
}
<h2>@Html.Sitecore().Field("Hotel Title")</h2>
<div class="table-responsive gd-mainimage-table">
    <table>
        <tbody>
            @if (!string.IsNullOrEmpty(currentItem.Fields["Hotel Phone"].ToString()))
            {
                <tr>
                    <th>@Html.Sitecore().Field("Glossary Value", SitecoreItems.PhoneItem).ToString().ToUpper()</th>
                    <td>@Html.Sitecore().Field("Hotel Phone")</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(currentItem.Fields["Hotel Email"].ToString()))
            {
                <tr>
                    <th>@Html.Sitecore().Field("Glossary Value", SitecoreItems.EmailItem).ToString().ToUpper()</th>
                    <td>@Html.Sitecore().Field("Hotel Email")</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(currentItem.Fields["Hotel Address"].ToString()))
            {
                <tr>
                    <th>@Html.Sitecore().Field("Glossary Value", SitecoreItems.AddressItem).ToString().ToUpper()</th>
                    <td>
                        @Html.Sitecore().Field("Hotel Address")<br>
                        <a href="javascript:;" class="gd-link-map gd-lightbox-link gd-lightbox-map" data-lat="22.2805507" data-lng="114.1579662" data-lighttitle="PUT LIGHTBOX TITLE HERE">
                            <span class="icomoon-location2"></span> @Html.Sitecore().Field("Glossary Value", SitecoreItems.ViewMapItem).ToString().ToUpper()
                        </a>
                    </td>
                </tr>
            } </tbody>
    </table>
</div>
<a href="javascript:;" class="gd-link-brief">
    @Html.Sitecore().Field("Official Website Label") <span class="icomoon-chevron-small-right"></span>
</a>