@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Configuration
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
}
<h2>@Html.Sitecore().Field("Hotel Title")</h2>
<div class="table-responsive gd-mainimage-table">
    <table>
        <tbody>
            @if (!string.IsNullOrEmpty(currentItem.Fields["Hotel Phone"].ToString()))
            {
                <tr>
                    <th>@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.PhoneItem)).ToString().ToUpper()</th>
                    <td>@Html.Sitecore().Field("Hotel Phone")</td>
                </tr>
            }
            @{
                LinkField hotelEmail = currentItem.Fields["Hotel Email"];
                if (!string.IsNullOrEmpty(hotelEmail.Url))
                {
                    <tr>
                        <th>@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.EmailItem)).ToString().ToUpper()</th>
                        <td>@Html.Sitecore().Field("Hotel Email", currentItem)</td>
                    </tr>
                }
            }
            @if (!string.IsNullOrEmpty(currentItem.Fields["Hotel Address"].ToString()))
            {
                <tr>
                    <th>@Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.AddressItem)).ToString().ToUpper()</th>
                    <td>
                        @Html.Sitecore().Field("Hotel Address")<br>
                        <a href="javascript:;" class="gd-link-map gd-lightbox-link gd-lightbox-map" data-lat="@Html.Sitecore().Field("Map Latitude")" data-lng="@Html.Sitecore().Field("Map Longitude")" data-lighttitle="@PreventCustomReplace(Html.Sitecore().Field("Hotel Title"))">
                            <span class="icomoon-location2"></span> @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.ViewMapItem)).ToString().ToUpper()
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    LinkField officialWebLink = currentItem.Fields["Official Website Url"];
}
<a href="@officialWebLink.Url" target="@officialWebLink.Target" class="gd-link-brief">
    @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.OfficialWebsiteItem)) <span class="icomoon-chevron-small-right"></span>
</a>
