@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    var hotels = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.HotelsPage, ItemGuids.T34Template);
    var hotel1 = hotels[0];
    var hotel2 = hotels[1];
}
<div class="gd-pagetitle-heading">
    <h2>@Html.Sitecore().Field("Page Title", Sitecore.Context.Item.Parent).ToString().ToUpper()</h2>
</div>
<div class="gd-pagetitle-menu hidden-xs">

    <a href="@Sitecore.Links.LinkManager.GetItemUrl(hotel1)" @if (Sitecore.Context.Item.ID == hotel1.ID) { <text>
       class="active"
       </text>          }>@Html.Sitecore().Field("Page Title", hotel1)</a>

    <span class="gd-pagetitle-menu-gap">|</span>
    <a @if (Sitecore.Context.Item.ID == hotel2.ID) { <text>
       class="active"
       </text>           } href="@Sitecore.Links.LinkManager.GetItemUrl(hotel2)">@Html.Sitecore().Field("Page Title", hotel2)</a>
</div>


<div class="gd-controls-m visible-xs">
    <select class="form-control">
        <option value="@Sitecore.Links.LinkManager.GetItemUrl(hotel1)">@Html.Sitecore().Field("Page Title", hotel1)</option>
        <option value="@Sitecore.Links.LinkManager.GetItemUrl(hotel2)">@Html.Sitecore().Field("Page Title", hotel2)</option>
    </select>
</div>

