@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    var pages = LandmarkHelper.GetRelatedPages();
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h1>@Html.Sitecore().CurrentItem.Parent.Fields["Page Title"].ToString().ToUpper()</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="gd-brief">
        <div class="gd-brief-heading  text-center">
            <h3>@Html.Sitecore().Field("Content Title")</h3>
        </div>
        <div class="gd-brief-body  text-center">
            <p>@Html.Sitecore().Field("Content Description")</p>
        </div>
    </div>

    <div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
        <div class="carousel-heading">
            <h3>@Html.Sitecore().Field("Explore Label")</h3>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @if (pages != null && pages.Count != 0)
            {
                int i = 1;
                foreach (var item in pages)
                {
                    if (item.TemplateID.ToString() == ItemGuids.T23PageTemplate || item.TemplateID.ToString() == ItemGuids.T23PageCDTemplate || item.TemplateID.ToString() == ItemGuids.T4PageTemplate || item.TemplateID.ToString() == ItemGuids.T25PageTemplate || item.TemplateID.ToString() == ItemGuids.T27Page)
                    {
                        var image = LandmarkHelper.GetCallOutImage(item);

                        <div @if (i == 1) { <text> class="item active" </text>   } else { <text> class="item" </text>   }>
                            <div class="carousel-image" data-bgsrc="@image"></div>
                            <div class="carousel-caption">
                                <div class="carousel-caption-inner">
                                    <div class="gd-carousel-detail">
                                        <h4>@item.Fields["Article Headline"]</h4>
                                        <p>@Html.Sitecore().Field("Article Intro", item)</p>
                                        <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item))" class="gd-button gd-button-white" type="button">@((object)Html.Sitecore().Field("Glossary Value", Factory.GetDatabase("web").GetItem(ItemGuids.DiscoverMoreItem)))</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    i++;
                }
            }
        </div>
        <!-- Wrapper for controls -->
        @if (pages.Count > 0)
        {
            <div class="carousel-footer">
                <div class="gd-carousel-controls clearfix">
                    <!-- Controls -->
                    <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                        <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- Indicators -->
                    <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                        @{
            int j = 1;
            foreach (var item in pages)
            {
                <li data-target="#gd-carousel-info" data-slide-to="@(j - 1)" @if (j == 1) { <text> class="active" </text>      }>@j</li>
j++;
            }
                        }
                    </ol>
                    <span class="gd-carousel-control gd-carousel-no">
                        /
                    </span>
                    <span class="gd-carousel-control gd-carousel-no">
                        @pages.Count
                    </span>
                    <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                        <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        }
    </div>

</div>