@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    var pages = LandmarkHelper.GetRelatedPages();
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().CurrentItem.Parent.Fields["Page Title"].ToString().ToUpper()</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="gd-brief">
        <div class="gd-brief-heading  text-center">
            <h3>@Html.Sitecore().Field("Content Title")</h3>
        </div>
        <div class="gd-brief-body  text-center">
            <p>@Html.Sitecore().Field("Content Description")</p>
        </div>
    </div>

    <div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
        <div class="carousel-heading">
            <h3>@Html.Sitecore().Field("Explore Label")</h3>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @if (pages.Count != 0)
            {
                int i = 1;
                foreach (var item in pages)
                {
                    <div @if (i == 1) { <text> class="item active" </text>   } else { <text> class="item" </text>   }>
                        <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Callout Image",item)"></div>
                        <div class="carousel-caption">
                            <div class="carousel-caption-inner">
                                <div class="gd-carousel-detail">
                                    <h4>@item.Fields["Page Title"]</h4>
                                    <p>@Html.Sitecore().Field("Page Description", item)</p>
                                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)" class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Button Text")</a>
                                </div>
                            </div>
                        </div>
                    </div>
i++;
                }
            }
        </div>
        <!-- Wrapper for controls -->
        <div class="carousel-footer">
            <div class="gd-carousel-controls clearfix">
                <!-- Controls -->
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                    <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                    <li data-target="#gd-carousel-info" data-slide-to="0" class="active">1</li>
                    <li data-target="#gd-carousel-info" data-slide-to="1">2</li>
                    <li data-target="#gd-carousel-info" data-slide-to="2">3</li>
                </ol>
                <span class="gd-carousel-control gd-carousel-no">
                    /
                </span>
                <span class="gd-carousel-control gd-carousel-no">
                    3
                </span>
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                    <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>