@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading  ">
            <h1>@Html.Sitecore().Field("Page Title")</h1>
        </div>
    </div>
</div>
<div class="container gd-sitemap">
    <div class="row">
        <div class="col-sm-9">
            <div class="gd-brief">
                @{
                    Item shoppingitem = Sitecore.Context.Database.GetItem(ItemGuids.ShoppingItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3>@Html.Sitecore().Field("Page Title",shoppingitem)</h3>
                </div>
                <div class="gd-brief-body">
                    <div class="row">
                        <div class="col-sm-4">
                        @foreach (Item levelone in shoppingitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Take(3))
                        {

                            <dl>
                                <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                @foreach (Item leveltwo in levelone.Children)
                                {
                                    <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                }
                            </dl>
                        }
                        </div>
                        <div class="col-sm-4">
                            @foreach (Item levelone in shoppingitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Skip(3).Take(5))
                            {

                                <dl>
                                    <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                    @foreach (Item leveltwo in levelone.Children)
                                    {
                                        <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                    }
                                </dl>


                            }
                        </div>
                        <div class="col-sm-4">
                            @foreach (Item levelone in shoppingitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Skip(8).Take(3))
                            {
                                <dl>
                                    <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                    @foreach (Item leveltwo in levelone.Children)
                                    {
                                        <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                    }
                                </dl>
                            }
                        <dl>
                            <dt><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.AllByBrandsPage)))">
                                @{
                                    var seeAllBrandsGuidItem = Factory.GetDatabase("web").GetItem(ItemGuids.SeeAllBrandsGuidItem);
                                }
                                @Html.Sitecore().Field("Glossary Value",seeAllBrandsGuidItem) (
                                @{
                                    var listingGuidItem = Factory.GetDatabase("web").GetItem(ItemGuids.ListingGuidItem);
                                }
                                @Html.Sitecore().Field("Glossary Value",listingGuidItem))</a></dt>
                   
                        </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="gd-brief">
                @{
                    Item diningitem = Sitecore.Context.Database.GetItem(ItemGuids.DiningItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3>@Html.Sitecore().Field("Page Title", diningitem) </h3>
                </div>
                <div class="gd-brief-body">
                    <div class="row">
                        <div class="col-sm-4">
                        @foreach (Item levelone in diningitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Take(3))
                        {

                            <dl>
                                <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                @foreach (Item leveltwo in levelone.Children)
                                {
                                    <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                }
                            </dl>
                        }
                        </div>
                        <div class="col-sm-4">
                            @foreach (Item levelone in diningitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Skip(3).Take(5))
                            {

                                <dl>
                                    <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                    @foreach (Item leveltwo in levelone.Children)
                                    {
                                        <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                    }
                                </dl>


                            }
                        </div>
                        <div class="col-sm-4">
                            @foreach (Item levelone in diningitem.Children.Where(item => item.TemplateID.ToString() == ItemGuids.T11PageTemplate).Skip(8).Take(3))
                            {
                                <dl>
                                    <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                                    @foreach (Item leveltwo in levelone.Children)
                                    {
                                        <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                                    }
                                </dl>
                            }
                        <dl>
                            <dt><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.AllByBrandsPage)))">@Html.Sitecore().Field("Glossary Value",seeAllBrandsGuidItem) (@Html.Sitecore().Field("Glossary Value",listingGuidItem))</a></dt>
                   
                        </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="gd-brief">
                @{
                    Item nowatlandmarkitem = Sitecore.Context.Database.GetItem(ItemGuids.NowAtLandmarkItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3><a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(nowatlandmarkitem))">@Html.Sitecore().Field("Page Title",nowatlandmarkitem )</a></h3>
                </div>
                @*<div class="gd-brief-body">
                    <dl>
                        @foreach (Item child in nowatlandmarkitem.Children.Where(item=>item.TemplateID.ToString()==ItemGuids.T4PageTemplate))
                        {
                            <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(child)">@Html.Sitecore().Field("Page Title",child)</a></dt>
                        }
                    </dl>
                </div>*@
            </div>
        </div>
        <div class="col-sm-3">
            <div class="gd-brief">
                @{
                    Item inspirationitem = Sitecore.Context.Database.GetItem(ItemGuids.InspirationItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3>@Html.Sitecore().Field("Page Title", inspirationitem)</h3>
                </div>
                <div class="gd-brief-body">
                    <dl>
                        @foreach (Item levelone in inspirationitem.Children)
                        {
                            <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                            @*foreach (Item leveltwo in levelone.Children.Where(item => ((CheckboxField) item.Fields["Has Detailed"]).Checked))
                             {
                                <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo)">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                             }*@
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="gd-brief">
                @{
                    Item aroundcentralitem = Sitecore.Context.Database.GetItem(ItemGuids.AroundCentralItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3>@Html.Sitecore().Field("Page Title", aroundcentralitem)</h3>
                </div>
                <div class="gd-brief-body">
                    <dl>
                        @foreach (Item levelone in aroundcentralitem.Children)
                        {
                            <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                            foreach (Item leveltwo in levelone.Children.Where(item=>item.TemplateID.ToString()==ItemGuids.T22PageTemplate))
                             {
                                <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                             }
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="gd-brief">
                @{
                    Item serviceitem = Sitecore.Context.Database.GetItem(ItemGuids.ServicesItem);
                }
                <div class="gd-brief-heading gd-brief-heading-left">
                    <h3>@Html.Sitecore().Field("Page Title", serviceitem)</h3>
                </div>
                <div class="gd-brief-body">
                    <dl>
                         @foreach (Item levelone in serviceitem.Children)
                        {
                            <dt><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(levelone))">@Html.Sitecore().Field("Page Title", levelone)</a></dt>
                            foreach (Item leveltwo in levelone.Children)
                             {
                                <dd><a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(leveltwo))">@Html.Sitecore().Field("Page Title", leveltwo)</a></dd>
                             }
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>