@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    MagezineHelper helper = new MagezineHelper();
    var magazineGroups = helper.GetMagazineGroups();
}
<div class="container">
    @foreach (var item in magazineGroups)
    {
        <div class="gd-promotion-box-area">
            <div class="gd-promotion-box-heading">
                <a class="gd-link-brands" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.MagazineCategoryPage))?type=@item.MagazineCategory.ID&page=1">@Html.Sitecore().Field("Glossary Value", ItemGuids.SeeMoreItem)<span class="icomoon-chevron-small-right"></span></a>
                <h3>@item.MagazineCategory.Fields["Category Name"].ToString().ToUpper()</h3>
            </div>

            <div class="slider variable-width gd-slick-slider">
                @foreach (var it in item.Stories)
                {
                    <div class="gd-slick-item">
                        <img data-lazy="@Html.Sitecore().ImageFieldSrc("Article Thumb Image", it)" />
                        ><div class="gd-slick-des">
                            <h3>@Html.Sitecore().Field("Article Headline", it)</h3>
                            <p>@Html.Sitecore().Field("Article Intro", it)</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>
