@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    MagezineHelper helper = new MagezineHelper();
    var magazineCategories = helper.GetAllMaganizeCategories();
    var magazineCategoryPage = Sitecore.Context.Database.GetItem(ItemGuids.MagazineCategoryPage);
}

<div class="gd-pagetitle-menu hidden-xs">
    <a href="@Sitecore.Links.LinkManager.GetItemUrl(magazineCategoryPage)?type=''&page=1" class="active">@Html.Sitecore().Field("Glossary Value", ItemGuids.MagezineItem) </a>
    @foreach (var item in magazineCategories)
    {
        <span class="gd-pagetitle-menu-gap">|</span>
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(magazineCategoryPage)?type=@item.ID&page=1">@item.Fields["Category Name"].ToString().ToUpper()</a>
    }
</div>

<div class="gd-controls-m visible-xs">
    <select class="form-control">
        <option value="@Sitecore.Links.LinkManager.GetItemUrl(magazineCategoryPage)?type=''&page=1">MAGAZINE</option>
        @foreach (var item in magazineCategories)
        {
            <option value="@Sitecore.Links.LinkManager.GetItemUrl(magazineCategoryPage)?type=@item.ID&page=1">@item.Fields["Category Name"].ToString().ToUpper()</option>
        }
    </select>
</div>