@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel

<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h2>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h2>
        </div>
        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T36CategoryTypeViewGuid)
    </div>
</div>

<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel">
    @Html.Sitecore().Placeholder("t36-slides")

    <!-- Caption -->
    <div class="carousel-caption">
        <div class="carousel-caption-inner">
            <div class="gd-carousel-detail">
                <div class="gd-mainimage-brief3">
                    <h2>@Html.Sitecore().Field("Title")</h2>
                    <p>@Html.Sitecore().Field("Content")</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Sitecore().Placeholder("maganize-category")