@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Collections
@using Sitecore.Configuration
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Links
@model RenderingModel

@{
    var currentItem = Sitecore.Context.Item;
    MagazineHelper helper = new MagazineHelper();
    var magazineGroupsByRandom = helper.GetMagazineGroupsByRandom();
    //List<Item> slides = new ItemList();
    var random4Stories = magazineGroupsByRandom.Random4Stories;
    //slides.AddRange(random4Stories.Select(item => LandmarkHelper.GetItemsByRootAndTemplate(item.ID.ToString(), ItemGuids.SlideObjectTemplate).FirstOrDefault()).Where(itemSlide => itemSlide != null));
}
<div class="container">
    <div class="gd-pagetitle">
        <div class="gd-pagetitle-heading">
            <h1>@Html.Sitecore().Field("Page Title").ToString().ToUpper()</h1>
        </div>
        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T36CategoryTypeViewGuid)
    </div>
</div>

<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel">
    @if (random4Stories.Count > 0)
    {
        <!-- Indicators -->
        if (random4Stories.Count > 1)
        {
            <ol class="carousel-indicators">
                @for (int i = 0; i < random4Stories.Count; i++)
                {
                    <li data-target="#gd-carousel-mainimage" data-slide-to="@i" @{
                                                                                    if (i == 0)
                                                                                    {
                                                                                        <text>
                                                                                            class="active"
                                                                                        </text>
                                                                                    }
                                                                                }></li>
                }
            </ol>
        }
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{
        int j = 0;
        foreach (var item in random4Stories)
        {
            <div @{ if (j == 0) { <text>
                 class="item active"
                 </text>      } else { <text>
                 class="item"
                 </text>      } }>
                @{
            j++;
                }

                @if (!string.IsNullOrEmpty(item.Fields["Article Callout Image"].Value))
                {
                    <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Article Callout Image", item)"></div>
                }
                <!-- Caption -->
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <div class="gd-mainimage-brief3">
                                <h2>@Html.Sitecore().Field("Article Headline", item).ToString().ToUpper()</h2>
                                <div class="gd-longarticle-fixedlines">
                                    <p>@Html.Sitecore().Field("Article Intro", item)</p>
                                    <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(item))" type="button" class="gd-button gd-button-reversed">
                                        @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.DiscoverMoreItem))
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            }
        </div>

        <!-- Controls -->
        if (random4Stories.Count > 1)
        {
            <div class="gd-mainimage-controls">
                <a class="gd-mainimage-control" href="#gd-carousel-mainimage" role="button" data-slide="prev">
                    <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="gd-mainimage-control" href="#gd-carousel-mainimage" role="button" data-slide="next">
                    <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
    }

</div>
<div class="container">
    @foreach (var item in magazineGroupsByRandom.MaganizeGroups)
    {
        if (item.Stories.Count > 0)
        {
            <div class="gd-promotion-box-area">
                <div class="gd-promotion-box-heading">
                    <a class="gd-link-brands" href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(item.MagazineCategory))">
                        @Html.Sitecore().Field("Glossary Value", (Item)Factory.GetDatabase("web").GetItem(ItemGuids.DiscoverMoreItem))<span class="icomoon-chevron-small-right"></span>
                    </a>
                    <h3>@item.MagazineCategory.Fields["Category Name"].ToString().ToUpper()</h3>
                </div>
                <div class="slider variable-width gd-slick-slider">
                    @foreach (var it in item.Stories)
                    {
                        <a class="gd-slick-item gd-hover-img" href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(it))">
                            <div class="gd-hover-img-area">
                                <div class="gd-hover-img-mask"></div>
                                @*<img src="@LandmarkHelper.GetCallOutImage(it)"/>*@
                                <img src="@Html.Sitecore().ImageFieldSrc("Article Portrait Callout Image", it)" />
                            </div>
                            <div class="gd-slick-des">
                                <h3>@Html.Sitecore().Field("Article Headline", it)</h3>
                                <p>@Html.Sitecore().Field("Article Intro", it)</p>
                            </div>
                        </a>
                    }

                </div>
            </div>
        }
    }
</div>