@using System.Globalization
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    var fromDateField = (DateField) Sitecore.Context.Item.Fields["Event From Date"];
    var fromDate = fromDateField.DateTime.ToString("d MMM yyyy",CultureInfo.InvariantCulture);
    var toDateField = (DateField) Sitecore.Context.Item.Fields["Event To Date"];
    var toDate = toDateField.DateTime.ToString("d MMM yyyy",CultureInfo.InvariantCulture);
    var fromDateTimeField = (DateField) Sitecore.Context.Item.Fields["Event From Time"];
    var fromDateTime = LandmarkHelper.ToValidDateTime(fromDateTimeField);
    var toDateTimeField = (DateField) Sitecore.Context.Item.Fields["Event To Time"];
    var toDateTime = LandmarkHelper.ToValidDateTime(toDateTimeField);
    var floor = ((ReferenceField) Sitecore.Context.Item.Fields["Event Floor"]).TargetItem;
    var building = floor.Parent;
}
<div class="container">
        <div class="gd-pagetitle">
            <div class="gd-pagetitle-heading">
                <h1>@Sitecore.Context.Item.Parent["Page Title"].ToUpper()</h1>
            </div>
        </div>
      
          <div  class="gd-newsdetails">
              <h2>@Html.Sitecore().Field("Page Title")</h2>
          <div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage" data-ride="carousel">
            @Html.Sitecore().Placeholder("t4-slides")
          </div>

            <div class="gd-nd-slider-text">@Html.Sitecore().Field("Page Subtitle")</div>
            <div class="row gd-nd-details-area">
             <div  class="col-sm-4">
               <div class="table-responsive">
               <table>
                                        <tbody>
                                            <tr>
                                                <th>@Html.Sitecore().Field("Glossary Value",ItemGuids.DateTimeItem)</th>
                                                <td>@fromDate - @toDate @fromDateTime-@toDateTime</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.Sitecore().Field("Glossary Value",ItemGuids.VenueItem)</th>
                                                <td>@Html.Sitecore().Field("Floor Title",floor) @Html.Sitecore().Field("Building Title",building)</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.Sitecore().Field("Glossary Value",ItemGuids.EnquiryItem)</th>
                                                <td>@Html.Sitecore().Field("Event Enquiry")</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.Sitecore().Field("Glossary Value",ItemGuids.WebsiteItem)</th>
                                                <td>@Html.Sitecore().Field("Event Website")</td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                <div class="gd-tg-table">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.TagsItem)</th>
                                                <td> @Html.Sitecore().Rendering(ItemGuids.TagsRenderingViewGuid, new
                {
                    Cacheable = false,
                    CacheKey = "tags",
                    Cache_VaryByData = true
                })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
              </div>
             <div  class="col-sm-8 gd-nd-details">
              @Html.Sitecore().Field("Page Content")
@{
    var images = LandmarkHelper.GetItemByTemplate(ItemGuids.ImageTextObjectTemplate);
}

@if (images.Count > 0)
{
                <div class="row">
                 @foreach (var image in images)
                 {
                    string src = Html.Sitecore().ImageFieldSrc("Image", image);
                    <img data-src="@src" class="lazy-loaded">
                 }
                </div>
}
                 @Html.Sitecore().Field("Bullets and Tables")
              </div>
            </div>
          </div>

<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h2>@Html.Sitecore().Field("Glossary Value", ItemGuids.YouMayAlsoLikeItem)</h2>
    </div>
    <!-- Wrapper for slides -->
    @{
        var articlesField = (MultilistField) Sitecore.Context.Item.Fields["Related Articles"];
        List<Item> articles = new List<Item>();
        if (articlesField != null)
        {
            foreach (var articleid in articlesField.TargetIDs)
            {
                articles.Add(Sitecore.Context.Database.GetItem(articleid));
            }
        }
    }



<div class="carousel-inner" role="listbox">
    @{
        int j = 0;
        foreach (var item in articles)
        {
            <div @{ if (j == 0) { <text>
                 class="item active"
                 </text>        } else { <text>
                 class="item"
                 </text>        } }>
                @{
            j++;
                }
                <div class="carousel-image" data-bgsrc='@Html.Sitecore().ImageFieldSrc("Reference Image", item)'></div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <h3>@Html.Sitecore().Field("Reference Title")</h3>
                            <p>@Html.Sitecore().Field("Reference Content")</p>
                        </div>
                    </div>
                </div>
                
            </div>
        }
    }
</div>


            <!-- Wrapper for controls -->
            <div class="carousel-footer">
                <div class="gd-carousel-controls clearfix">
                    <!-- Controls -->
                    <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                        <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- Indicators -->
                    <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                        @for (int i = 0; i < articles.Count; i++)
                        {
                            <li data-target="#gd-carousel-info" data-slide-to="@i" @{
                                                                                       if (i == 0)
                                                                                       {
                                                                                           <text>
                                                                                               class="active"
                                                                                           </text>
                                                                                       }
                                                                                   }>@(i+1)</li>
                        }
                    </ol>
                    <span class="gd-carousel-control gd-carousel-no">
                        /
                    </span>
                    <span class="gd-carousel-control gd-carousel-no">
                        @articles.Count
                    </span>
                    <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                        <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
</div>
