@using System.Globalization
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item shopItem = Sitecore.Context.Item;
    MultilistField shopField = Sitecore.Context.Item.Fields["Brand"];
    if (shopField != null && shopField.TargetIDs != null && shopField.TargetIDs.Length > 0)
    {
        shopItem = Sitecore.Context.Database.GetItem(shopField.TargetIDs.FirstOrDefault());
    }
}
<div class="col-sm-4">
                <div class="table-responsive">
                    <table>
                        <tbody>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.DateTimeItem))</th>
                            <td>@Html.Sitecore().Field("Opening Hours",shopItem)</td>
                        </tr>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.VenueItem))</th>
                            <td>@Html.Sitecore().Field("Address", shopItem)</td>
                        </tr>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.EnquiryItem))</th>
                            <td>@Html.Sitecore().Field("Contact",shopItem)</td>
                        </tr>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.WebsiteItem))</th>
                            <td>@Html.Sitecore().Field("Official Website",shopItem)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <dl class="gd-content-details-tags">
                    <dt> <span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.TagsItem))</dt>
                    <dd>
                        @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.TagsRenderingViewGuid)
                    </dd>
                </dl>

            </div>
            <div class="col-sm-8 gd-nd-details">
                @Html.Sitecore().Field("Article Content")
                @{
                    var images = LandmarkHelper.GetItemByTemplate(Sitecore.Context.Item, ItemGuids.ImageTextObjectTemplate);
                }

                @if (images.Count > 0)
                {
                    <div class="row">
                        @foreach (var image in images)
                        {
                            string src = Html.Sitecore().ImageFieldSrc("Image", image);
                            <div class="col-sm-6"><img data-src="@src">
                            </div>
                        }
                    </div>
                }
                @Html.Sitecore().Field("Bullets and Tables")
            </div>