@using Landmark.Classes
@using Landmark.Helper
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 lte9 lte8 lte7 no-js"><![endif]-->
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7 no-js"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8 no-js"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9 no-js"><![endif]-->
<!--[if gt IE 9]><html class="no-js"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
<head>
    @Html.Sitecore().Rendering(ItemGuids.MetaRenderingViewGuid, new
{
    Cacheable = false,
    CacheKey = "meta",
    Cache_VaryByData = true
})
</head>
<body class="en @LandmarkHelper.GetPageBodyClass()">
    @Html.Sitecore().Rendering(ItemGuids.HeaderRenderingViewGuid, new
{
    Cacheable = false,
    CacheKey = "header",
    Cache_VaryByData = true
})
    @Html.Sitecore().Placeholder("main-content")
    @Html.Sitecore().Rendering(ItemGuids.FooterRenderingViewGuid, new
{
    Cacheable = false,
    CacheKey = "footer",
    Cache_VaryByData = true
})
    @Html.Sitecore().Rendering(ItemGuids.ScriptRenderingViewGuid, new
{
    Cacheable = false,
    CacheKey = "script",
    Cache_VaryByData = true
})
</body>
</html>
