@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Mvc.Extensions
@model RenderingModel

<div id="gd-carousel-mainimage-single" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-single">
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Cover Image", Sitecore.Context.Item)"></div>
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <div class="gd-carousel-detail">
                        <div class="gd-mainimage-brief">
                            <h1>@Html.Sitecore().Field("Cover Title")</h1>
                            <p>@Html.Sitecore().Field("Cover Description")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>@Html.Sitecore().Field("Address Label")</h3>
        </div>
        <div class="gd-brief-body gd-brief-center">
            <p>
                @Html.Sitecore().Field("Address Text")
            </p>
            <a href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item.Children.First()))" class="gd-button gd-button-white" type="button"> @Html.Sitecore().Field("Button Text")</a>
        </div>
    </div>
    <div class="gd-location-map" data-lat="@Html.Sitecore().Field("Map Latitude")" data-lng="@Html.Sitecore().Field("Map Longitude")">
        <iframe src="/files/landmark/iframes/map-simple-iframe.html" frameborder="0"></iframe>
    </div>
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>@Html.Sitecore().Field("Content Title")</h3>
        </div>
        <div class="gd-brief-body gd-brief-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    @Html.Sitecore().Field("Content Description")
                </div>
            </div>
        </div>
    </div>
    <div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
        @Html.Sitecore().Placeholder("related-items")
    </div>
</div>