@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@using Sitecore.Configuration
@model RenderingModel

@{

}
<div class="container">
    <div class="gd-error">
        @{
            Sitecore.Globalization.Language languageEN = Sitecore.Data.Managers.LanguageManager.GetLanguage("en");
            Sitecore.Data.Items.Item itemEN = Sitecore.Context.Database.GetItem(Sitecore.Context.Item.ID, languageEN);
        }
        <h2>@Html.Sitecore().Field("Page Title", itemEN)</h2>
        @Html.Sitecore().Field("Page Content", itemEN)
    </div>

    <div class="gd-error">
        @{
            Sitecore.Globalization.Language languageCN = Sitecore.Data.Managers.LanguageManager.GetLanguage("zh-CN");
            Sitecore.Data.Items.Item itemCN = Sitecore.Context.Database.GetItem(Sitecore.Context.Item.ID, languageCN);
        }
        <h2>@Html.Sitecore().Field("Page Title", itemCN)</h2>
        @Html.Sitecore().Field("Page Content", itemCN)
    </div>
    <div class="gd-error">
        @{
            Sitecore.Globalization.Language languageHK = Sitecore.Data.Managers.LanguageManager.GetLanguage("zh-HK");
            Sitecore.Data.Items.Item itemHK = Sitecore.Context.Database.GetItem(Sitecore.Context.Item.ID, languageHK);
        }
        <h2>@Html.Sitecore().Field("Page Title", itemHK)</h2>
        @Html.Sitecore().Field("Page Content", itemHK)
    </div>

    <div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
        <div class="carousel-heading">
            <h3>@Html.Sitecore().Field("Carousel Title")</h3>
        </div>
        @Html.Sitecore().Placeholder("t6-related")
    </div>

</div>
