@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var attractions = LandmarkHelper.GetItemsByRootAndTemplate(ItemGuids.ExperienceCentral, ItemGuids.T25PageTemplate);

    var current = Sitecore.Context.Item;

    attractions = attractions.Where(p => p.ID != current.ID).ToList();
}

<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h3>@Html.Sitecore().Field("See More Label")</h3>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @if (attractions.Count != 0)
        {
            int i = 1;
            foreach (var item in attractions)
            {
                <div @if (i == 1) { <text>
                     class="item active"
                     </text>              } class="item">
                    <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Callout Image",item)"></div>
                    <div class="carousel-caption">
                        <div class="carousel-caption-inner">
                            <div class="gd-carousel-detail">
                                <h4>@Html.Sitecore().Field("Cover Title", item)</h4>
                                <p>@Html.Sitecore().Field("Brief Introduction", item)</p>
                                <a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">
                                    <button class="gd-button gd-button-white" type="button">@Html.Sitecore().Field("Button Text")</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
i++;
            }
        }
    </div>
    <!-- Wrapper for controls -->
    @if (attractions.Count != 0)
    {
        <div class="carousel-footer">
            <div class="gd-carousel-controls clearfix">
                <!-- Controls -->
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                    <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                    @for (int j = 0; j < attractions.Count; j++)
                    {
                        <li data-target="#gd-carousel-info" data-slide-to="@j" @{ if (j == 0) { <text>
                            class="active"
                            </text>  } }>@(j + 1)</li>
                    }
                </ol>
                <span class="gd-carousel-control gd-carousel-no">
                    /
                </span>
                <span class="gd-carousel-control gd-carousel-no">
                    @attractions.Count
                </span>
                <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                    <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
</div>
