@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    var pageTitle = currentItem.DisplayName.ToLower();
    var children = currentItem.Children.ToList();
}
<div class="container">
    <div class="gd-pagetitle">
        @Html.Sitecore().Placeholder("t17-page-title")
    </div>
</div>
<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel">
    @Html.Sitecore().Placeholder("t17-slide")
    <!-- Caption -->
    <div class="carousel-caption">
        <div class="carousel-caption-inner">
            <div class="gd-carousel-detail">
                <div class="gd-mainimage-brief3">
                    <h2>@Html.Sitecore().Field("Carousel Title")</h2>
                    <p>@Html.Sitecore().Field("Carousel Description")</p>
                    <a href="@Html.Sitecore().Field("Button Link")" class="gd-button gd-button-reversed" type="button">@Html.Sitecore().Field("Button Text")</a>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.EditFrame(currentItem.Paths.FullPath))
{
    if (children.Count != 0)
    {
        foreach (var item in children)
        {
            if (item.TemplateID.ToString() == ItemGuids.TwoImageColumns)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gd-promotion-box">
                                <a href="@Html.Sitecore().Field("Left Link")" class="gd-hover-img">
                                    <div class="gd-hover-img-area">
                                        <div class="gd-hover-img-mask"></div>
                                        <img data-src="@Html.Sitecore().ImageFieldSrc("Left Image", item)">
                                    </div>
                                    <h3>@Html.Sitecore().Field("Left Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Left Description", item)</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gd-promotion-box">
                                <a href="@Html.Sitecore().Field("Right Link")" class="gd-hover-img">
                                    <div class="gd-hover-img-area">
                                        <div class="gd-hover-img-mask"></div>
                                        <img data-src="@Html.Sitecore().ImageFieldSrc("Right Image", item)">
                                    </div>
                                    <h3>@Html.Sitecore().Field("Right Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Right Description", item)</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (item.TemplateID.ToString() == ItemGuids.TextColumn)
            {
                <div class="container">
                    <div class="gd-brief">
                        <div class="gd-brief-body gd-col-2 gd-longarticle" data-text-on="DISCOVER MORE >" data-text-off="LESS -">
                            <p>
                                @Html.Sitecore().Field("Text Content", item)
                            </p>
                        </div>
                    </div>
                </div>
            }

            else if (item.TemplateID.ToString() == ItemGuids.OneImage)
            {
                <div class="gd-promotion-block-area">
                    @{
                var left = (CheckboxField)item.Fields["Photo Alignment Left"];
                    }
                    <div @if (left.Checked) { <text>
                         class="gd-promotion-block clearfix"
                         </text>                                 } else { <text> class="gd-promotion-block2 clearfix" </text>                                }>
                        <div class="gd-promotion-block-img" style="background-image: url(@Html.Sitecore().ImageFieldSrc("Image",item))" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Image",item)">
                        </div>
                        <div class="gd-promotion-block-text">
                            <div class="gd-promotion-block-textarea">
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                                @Html.Sitecore().Field("Description", item)
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (item.TemplateID.ToString() == ItemGuids.ImageSlider)
            {
                <div class="container">
                    <div class="gd-promotion-listarea">
                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                        @Html.Sitecore().Field("Description", item)
                        <a>@Html.Sitecore().Field("Link Text", item)<span class="icomoon-chevron-small-right"></span></a>

                        <div class="gd-slick-slider-wrapper">
                            <div class="slider variable-width gd-slick-slider">
                                @{
                var slides = item.Children.ToList();
                if (slides.Count != 0)
                {
                    foreach (var slide in slides)
                    {
                        <div class="gd-slick-item">
                            @Html.Sitecore().Field("Image", slide)
                        </div>
                    }
                }
                                }
                            </div>
                            <div class="gd-slick-controls-m">
                                <span class="icomoon-thin-arrow-L"></span>
                                <span class="gd-slick-no-current"></span>
                                <span class="gd-slick-no-dash">/</span>
                                <span class="gd-slick-no-all"></span>
                                <span class="icomoon-thin-arrow-R"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (item.TemplateID.ToString() == ItemGuids.Tab)
            {
                <div class="container">
                    <div class="gd-tab-intro">
                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                        <!-- Nav tabs -->
                        @{
                var tabs = item.Children.ToList();
                int i = 1;
                int j = 1;
                        }
                        <ul class="nav nav-tabs" role="tablist">

                            @foreach (var tab in tabs)
                            {
                                <li @if (i == 1) { <text> class="active" </text>              }><a href="#@tab.ID.ToString().Trim('{').Trim('}')" data-toggle="tab">@tab.Fields["Name"]</a></li>
i++;
                            }
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            @foreach (var tab in tabs)
                            {
                                <a class="tab-pane-switch" href="javascript:;">
                                    @tab.Fields["Name"]<span @if (j == 1) { <text>
                                                             class="on"
                                                             </text>     } else { <text> class="off" </text>     }></span>
                                </a>
                                <div @if (j == 1) { <text>
                                     class="tab-pane fade in active"
                                     </text>      } else { <text> class="tab-pane fade" </text>     } id="@tab.ID.ToString().Trim('{').Trim('}')">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img data-src="@Html.Sitecore().ImageFieldSrc("Image",tab)" alt="">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="intro-wrapper">
                                                <p>
                                                    @Html.Sitecore().Field("Description", tab)<br><a>@Html.Sitecore().Field("Link Text",tab)<span class="icomoon-chevron-small-right"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
j++;
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
}


