@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Landmark.Models
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    var pageTitle = currentItem.DisplayName.ToLower();
    var children = currentItem.Children.ToList();
}
<div class="container">
    <div class="gd-pagetitle">
        @Html.Sitecore().Placeholder("t17-page-title")
    </div>
</div>
<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel">
    @Html.Sitecore().Placeholder("t17-slide")
    <!-- Caption -->
    <div class="carousel-caption">
        <div class="carousel-caption-inner">
            <div class="gd-carousel-detail">
                <div class="gd-mainimage-brief3">
                    <h2>@Html.Sitecore().Field("Carousel Title")</h2>
                    <p>@Html.Sitecore().Field("Carousel Description")</p>
                    <a href="@Html.Sitecore().Field("Button Link")" class="gd-button gd-button-reversed" type="button">@Html.Sitecore().Field("Button Text")</a>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.EditFrame(currentItem.Paths.FullPath))
{
    if (children.Count != 0)
    {
        foreach (var item in children)
        {
            if (item.TemplateID.ToString() == ItemGuids.TwoImageColumns)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gd-promotion-box">
                                <a href="@Html.Sitecore().Field("Left Link")" class="gd-hover-img">
                                    <div class="gd-hover-img-area">
                                        <div class="gd-hover-img-mask"></div>
                                        <img data-src="@Html.Sitecore().ImageFieldSrc("Left Image", item)">
                                    </div>
                                    <h3>@Html.Sitecore().Field("Left Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Left Description", item)</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gd-promotion-box">
                                <a href="@Html.Sitecore().Field("Right Link")" class="gd-hover-img">
                                    <div class="gd-hover-img-area">
                                        <div class="gd-hover-img-mask"></div>
                                        <img data-src="@Html.Sitecore().ImageFieldSrc("Right Image", item)">
                                    </div>
                                    <h3>@Html.Sitecore().Field("Right Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Right Description", item)</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (item.TemplateID.ToString() == ItemGuids.TextColumn)
            {
                <div class="container">
                    <div class="gd-brief">
                        <div class="gd-brief-body gd-col-2 gd-longarticle" data-text-on="DISCOVER MORE >" data-text-off="LESS -">
                            @Html.Sitecore().Field("Text Content")
                        </div>
                    </div>
                </div>
            }
            else if (item.TemplateID.ToString() == ItemGuids.OneImage)
            {
                <div class="gd-promotion-block-area">
                    <div class="gd-promotion-block clearfix">
                        <div class="gd-promotion-block-img" style=" background-image:url(../files/landmark/images/promotion/promotion-bg-img-01.jpg)" data-bgsrc="../files/landmark/images/promotion/promotion-bg-img-02.jpg">
                        </div>
                        <div class="gd-promotion-block-text">
                            <div class="gd-promotion-block-textarea">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p><a href="#" class="gd-button gd-button-transparent" type="button">DISCOVER MORE</a>

                            </div>
                        </div>
                    </div>
                    <div class="gd-promotion-block2 clearfix">
                        <div class="gd-promotion-block-img" style=" background-image:url(../files/landmark/images/promotion/promotion-bg-img-02.jpg)" data-bgsrc="../files/landmark/images/promotion/promotion-bg-img-02.jpg">
                        </div>
                        <div class="gd-promotion-block-text">
                            <div class="gd-promotion-block-textarea">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p><a href="#" class="gd-button gd-button-transparent" type="button">DISCOVER MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}



<script type="text/javascript">
    var pageTitle = '@pageTitle';
    //alert(pageTitle);
    if (pageTitle === 'promotion') {
        window.Location = "@Url.Action("ButtonRedirect", "Home")?targetId={D6F4FCEC-2289-48D1-A1B2-CF17F4062B70}";
    }
</script>