@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@model RenderingModel


<div id="gd-carousel-mainimage-single" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-single" data-cover-height="640">
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-image" data-bgsrc="@Html.Sitecore().ImageFieldSrc("Cover Image", Sitecore.Context.Item)"></div>
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <div class="gd-carousel-detail">
                        <div class="gd-mainimage-brief">
                            <h1>@Html.Sitecore().Field("Cover Title", Sitecore.Context.Item)</h1>
                            @Html.Sitecore().Field("Cover Content", Sitecore.Context.Item)
                            <a href="@LandmarkHelper.TranslateUrl(LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.ByArtistPage)))" type="button" class="gd-button gd-button-reversed">
                                @Html.Sitecore().Field("Button Text", Sitecore.Context.Item)
                            </a>
                            <a href="#gd-audio-guide" class="gd-link-audio">
                                <span class="icomoon-sound-alt"></span> @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.MobileAudioGuideItem)) <span class="icomoon-chevron-small-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="gd-audio-guide">
    <div class="row">
        <div class="col-sm-12  col-md-8 col-md-offset-2">
            <div class="gd-brief">
                <div class="gd-brief-heading">
                    <h3>@Html.Sitecore().Field("Content Title", Sitecore.Context.Item)</h3>
                </div>
                <div class="gd-brief-body">
                    @Html.Sitecore().Field("Content Description", Sitecore.Context.Item)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @{
            var guides = LandmarkHelper.GetItemByTemplate(Sitecore.Context.Item, ItemGuids.ImageTextObjectTemplate);

            foreach (Item guide in guides)
            {
                <div class="col-sm-4">
                    <div class="gd-picture-des">
                        <div class="gd-pd-picture">
                            @Html.Sitecore().Field("Image", guide)
                        </div>
                        <div class="gd-pd-text">
                            <span>@guide.DisplayName</span>
                            <p>@Html.Sitecore().Field("Title", guide)</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>