@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Items
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    Item parentItem = Sitecore.Context.Item.Parent;
    while (!parentItem.ID.ToString().Equals(ItemGuids.ShoppingItem) && !parentItem.ID.ToString().Equals(ItemGuids.DiningItem))
    {
        parentItem = parentItem.Parent;
    }
    var brandModels = shoppingHelper.GetBrandModels(parentItem);
    if (!parentItem.ID.ToString().Equals(ItemGuids.ShoppingItem) && !parentItem.ID.ToString().Equals(ItemGuids.DiningItem))
    {
        var currentTag = shoppingHelper.GetCurrentCategory(Sitecore.Context.Item);
        brandModels = brandModels.Where(p => p.Tags.Contains(currentTag)).ToList();
    }
    var brands = brandModels.GroupBy(p => p.Group).ToList();
}
<div class="masonry-area clearfix">
    @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T13MobileSideBarRendering)
    <div class="brand-box-area">
      
        @foreach (var items in brands)
        {
            <div class="brand-box brand-box-letter" id="@items.First().Group.ToLower()">@items.First().Group</div>
            foreach (var item in items)
            {
                <a class="brand-box" href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item.BrandItem))" title="@item.BrandItem["Brand Title"]">
                    <img data-src="@Html.Sitecore().ImageFieldSrc("Brand Image", item.BrandItem)" alt="@Html.Sitecore().Field("Brand Title", item.BrandItem)">
                </a>
            }
        }
    </div>
</div>
