@using Landmark.Classes
@using Landmark.Helper
@using Landmark.Models
@using Sitecore.Data.Items
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    var currentItem = Sitecore.Context.Item;
    Item pageItem = currentItem.Parent;
    List<LandmarkBrandModel> brandModels = new List<LandmarkBrandModel>();
    if (pageItem.TemplateID.ToString() == ItemGuids.ShoppingSubCategoryPageObject)
    {
        pageItem = currentItem.Parent.Parent.Parent;
    }
    else if (pageItem.TemplateID.ToString() == ItemGuids.T11PageTemplate)
    {
        pageItem = currentItem.Parent.Parent;
    }
    brandModels = shoppingHelper.GetBrandModels(pageItem);
    
    if (!currentItem.Parent.ID.ToString().Equals(ItemGuids.ShoppingItem) && !currentItem.Parent.ID.ToString().Equals(ItemGuids.DiningItem))
    {
        var currentTag = shoppingHelper.GetCurrentCategory(currentItem);

        brandModels = brandModels.Where(p => p.Tags.Contains(currentTag)).ToList();
    }
    var brands = brandModels.GroupBy(p => p.Group).ToList();

}
<div class="masonry-area clearfix">
    @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T13MobileSideBarRendering)
    <div class="brand-box-area">
        @foreach (var items in brands)
        {
            <div class="brand-box brand-box-letter" id="@items.First().Group.ToLower()">@items.First().Group</div>
            foreach (var item in items.OrderBy(i => i.BrandItem.DisplayName))
            {
                <a class="brand-box" href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(item.BrandItem))" title="@item.BrandItem["Brand Title"]">
                    <img data-src="@Html.Sitecore().ImageFieldSrc("Brand Image", item.BrandItem)" alt="@Html.Sitecore().Field("Brand Title", item.BrandItem)">
                </a>
            }
        }
    </div>
</div>
