@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel

<div id="gd-carousel-mainimage" class="carousel slide gd-carousel-info gd-mainimage gd-mainimage-fixed" data-ride="carousel"  data-cover-height="640">
    @Html.Sitecore().Placeholder("t14-slides")
    <!-- Caption -->
    <div class="carousel-caption">
        <div class="carousel-caption-inner">
            <div class="gd-carousel-detail">
                <div class="gd-mainimage-brief">
                    @Html.Sitecore().Placeholder("slide-text")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gd-brief">
        <div class="gd-brief-heading">
            <h3>@Html.Sitecore().Field("Content Title") </h3>
        </div>
        <div class="gd-brief-body gd-longarticle gd-col-2" data-text-on="@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.ReadMoreItem)) +" data-text-off="@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.LessItem)) -">
            <p>@(new MvcHtmlString(Html.Sitecore().Field("Content Description").ToString().Trim(' ').Replace("\n\n", "<br/>")))</p>
            @*<p>@Html.Sitecore().Field("Content Description").ToString()</p>*@
        </div>
    </div>

    <div class="gd-bigbrand">
        <img data-src="@Html.Sitecore().ImageFieldSrc("Brand Image",Sitecore.Context.Item)" width="215">
    </div>
        @Html.Sitecore().Placeholder("t14-related-articles")
    </div>


<div class="shopdetails-brand">
    <a class="gd-link-brands" href="@LandmarkHelper.TranslateUrl(Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(ItemGuids.AllByBrandsPage)))">
        @Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.AllBrandsGuidItem))<span class="icomoon-chevron-small-right"></span></a>
    <div class="container">
        <div class="shopdetails-brand-header">
            <ul>
                <li><a href="javascript:;" class="active">@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.YouMayAlsoLikeItem))</a></li>
                <li><a href="javascript:;">@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.AlsoOnThisFloorItem))</a></li>
            </ul>
        </div>
        <div class="shopdetails-brand-body">
            <div class="row">
                @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T14YouMayAlsoLikeRenderingViewGuid)
            </div>
            <div class="row hidden">
                @Html.Sitecore().Rendering(SitecoreRenderingViewGuids.T14AlsoOnFloorRenderingViewGuid)
            </div>
        </div>
    </div>
</div>
