@using Landmark.Classes
@using Landmark.Helper
@{
    ShoppingHelper helper = new ShoppingHelper();
    var relatedItems = helper.GetRelatedArticles(Sitecore.Context.Item);
}
<div id="gd-carousel-info" class="carousel slide gd-carousel-info" data-ride="carousel">
    <div class="carousel-heading">
        <h3>@Html.Sitecore().Field("Related Article Title")</h3>
    </div>
    @Html.Sitecore().Rendering(ItemGuids.RelatedItemViewGuid)

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @foreach (var item in relatedItems)
        {
            <div class="item active">
                <div class="carousel-image gd-lightbox-link gd-lightbox-video" data-lightsrc="/en/sample.mp4" data-lighttitle="PUT LIGHTBOX TITLE HERE" data-lightposter="../files/landmark/images/shopdetail/shopdetail-article-01.jpg" data-bgsrc="../files/landmark/images/shopdetail/shopdetail-article-01.jpg"></div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <div class="gd-carousel-detail">
                            <h4>@item.Item.Fields["Article Headline"]</h4>
                            <p>@Html.Sitecore().Field("Article Info", item.Item)</p>
                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(item.Item)" class="gd-button gd-button-white" type="button">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- Wrapper for controls -->
    <div class="carousel-footer">
        <div class="gd-carousel-controls clearfix">
            <!-- Controls -->
            <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="prev">
                <span class="icomoon-thin-arrow-L" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators gd-carousel-control gd-carousel-no">
                <li data-target="#gd-carousel-info" data-slide-to="0" class="active">1</li>
                <li data-target="#gd-carousel-info" data-slide-to="1">2</li>
                <li data-target="#gd-carousel-info" data-slide-to="2">3</li>
            </ol>
            <span class="gd-carousel-control gd-carousel-no">
                /
            </span>
            <span class="gd-carousel-control gd-carousel-no">
                3
            </span>
            <a class="gd-carousel-control" href="#gd-carousel-info" role="button" data-slide="next">
                <span class="icomoon-thin-arrow-R" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>