@using Landmark.Classes
@using Landmark.Helper
@using Landmark.Models
@using Sitecore.Configuration
@using Sitecore.Data
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    var currentItem = Sitecore.Context.Item;
}

<h2>@Html.Sitecore().Field("Brand Title")</h2>
<div class="table-responsive gd-mainimage-table">
    <table>
        <tbody>
            @{
                var openingHour = currentItem.Fields["Opening Hours"].ToString();
                if (!string.IsNullOrEmpty(openingHour))
                {
                    <tr>
                        <th>
                            @Html.Sitecore().Field("Glossary Value", SitecoreItems.OpenningHoursItem).ToString().ToUpper()
                        </th>
                        <td>
                            @Html.Sitecore().Field("Opening Hours")
                        </td>
                    </tr>
                }
            }
            @{
                var contact = currentItem.Fields["Contact"].ToString();
                if (!string.IsNullOrEmpty(contact))
                {
                    <tr>
                        <th>
                            @Html.Sitecore().Field("Glossary Value", SitecoreItems.ContactItem).ToString().ToUpper()
                        </th>
                        <td>@Html.Sitecore().Field("Contact")</td>
                    </tr>
                }
            }
            @{
                var floor = shoppingHelper.GetShopFloor(currentItem);
                var whereDescription = Html.Sitecore().Field("Area") + "," + floor["Floor Title"];
                var fullWhere = whereDescription + "," + floor.Parent["Building Title"];
                if (!string.IsNullOrEmpty(fullWhere))
                {
                    <tr>
                        <th>
                            @Html.Sitecore().Field("Glossary Value", SitecoreItems.WhereItem).ToString().ToUpper()
                        </th>
                        <td>
                            @fullWhere<br><a href="#" class="gd-link-map gd-lightbox-link gd-lightbox-pin" data-pin="@Html.Sitecore().ImageFieldSrc("LocationX", Sitecore.Context.Item),@Html.Sitecore().ImageFieldSrc("LocationY", Sitecore.Context.Item)" data-lightsrc="@Html.Sitecore().ImageFieldSrc("Floor Image", floor)" data-lighttitle="@Html.Sitecore().Field("Light Box Text") @whereDescription of @floor.Parent["Building Title"]">
                                <span class="icomoon-location2"></span> @Html.Sitecore().Field("Glossary Value", SitecoreItems.FloorPlanItem).ToString().ToUpper()
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (!string.IsNullOrEmpty(currentItem.Fields["Official Website Url"].ToString()))
{
    LinkField link = currentItem.Fields["Official Website Url"];

    <a href="@link.Url" class="gd-link-brief">
        @Html.Sitecore().Field("Glossary Value", SitecoreItems.OfficialWebsiteItem).ToString().ToUpper() <span class="icomoon-chevron-small-right"></span>
    </a>
}