@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Data.Items
@model RenderingModel
@{
    ShoppingHelper shoppingHelper = new ShoppingHelper();
    var tagsTrees = shoppingHelper.GetTagsTree();
}
<div class="table-responsive gd-tg-table">
    <table>
        <tbody>
            <tr>
                <th><span class="icomoon-price-tag"></span> @Html.Sitecore().Field("Glossary Value", ItemGuids.TagsItem)</th>


                <td>
                    @foreach (var item in tagsTrees)
                    {
                        <div>
                            <a href="@Sitecore.Links.LinkManager.GetItemUrl(item.CurrentItem)">@item.CurrentItem["Category Name"] - </a>
                            @foreach (var it in item.Children)
                            {
                                <a href="@Sitecore.Links.LinkManager.GetItemUrl(it.CurrentItem)">@it.CurrentItem["Category Name"],</a>
                            }
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
