@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Collections
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    var currentItem = Sitecore.Context.Item;
    var enquiryFolder = currentItem.Children.SingleOrDefault(p => p.DisplayName == "Enquiry Type Selects");
    var titleFolder = currentItem.Children.SingleOrDefault(p => p.DisplayName == "Title Selects");

    var errorMessageFolder = Sitecore.Context.Database.GetItem(ItemGuids.ErrorMessageFolder);
    List<Item> formEnquirySelects = new List<Item>();
    List<Item> formTitleSelects = new ItemList();
    List<Item> errorMessages = new List<Item>();
    if (enquiryFolder != null)
    {
        formEnquirySelects = enquiryFolder.Children.ToList();
    }
    if (titleFolder != null)
    {
        formTitleSelects = titleFolder.Children.ToList();
    }
    if (errorMessageFolder != null)
    {
        errorMessages = errorMessageFolder.Children.ToList();
    }
}

<div class="gd-contact-area">
    <div class="gd-contact-heading">
        <span class="icomoon-thin-arrow-R"></span>
        <h3>
            <span class="icomoon-location"></span>@Html.Sitecore().Field("Contact Form Title")
        </h3>
    </div>
    <div class="gd-contact-body" style="display:none;">
        <p>@Html.Sitecore().Field("Contact Form Description")</p>
        <div class="row">
            <div class="col-sm-9">
                <form class="gd-contact-form" name="gd-contact-form" action="@Url.Action("AddCustomerMessage", "Home")" method="POST" id="myForm" data-captcha-url="/Service/CheckCaptcha.ashx">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="title">@Html.Sitecore().Field("Title Label") *</label>
                                <div class="dropdown gd-dropdown gd-dropdown-fill">
                                    <!-- User's selection will be stored here -->
                                    <input type="hidden" name="Title" value="" data-error="@Html.Sitecore().Field("Text",errorMessages.SingleOrDefault(p=>p.DisplayName=="Title"))">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span class="current">@Html.Sitecore().Field("Select Label")</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        @foreach (var item in formTitleSelects)
                                        {
                                            <li><a href="javascript:;" data-value="@Html.Sitecore().Field("Value", item)">@Html.Sitecore().Field("Text", item)</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">@Html.Sitecore().Field("First Name Label") *</label>
                                <input type="text" class="form-control" id="firstname" name="FirstName" data-input-max="50" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "FirstName"))">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">@Html.Sitecore().Field("Last Name Label") *</label>
                                <input type="text" class="form-control" id="lastname" name="LastName" data-input-max="50" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "LastName"))">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="telephone">@Html.Sitecore().Field("Telephone Label")</label>
                                <input type="text" class="form-control" id="telephone" name="Telephone" data-input-max="20" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "Telephone"))">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">@Html.Sitecore().Field("Email Label") *</label>
                                <input class="form-control" id="email" type="email" name="Email" data-input-max="254" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "Email"))">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="enquiirytype">@Html.Sitecore().Field("Enquiry Type Label") *</label>
                                <div class="dropdown gd-dropdown gd-dropdown-fill">
                                    <!-- User's selection will be stored here -->
                                    <input type="hidden" name="EnquiryType" value="" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "EnquiryType"))">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span class="current">@Html.Sitecore().Field("Select Label")</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        @foreach (var item in formEnquirySelects)
                                        {
                                            <li><a href="javascript:;" data-value="@Html.Sitecore().Field("Value",item)">@Html.Sitecore().Field("Text", item)</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="messsage">@Html.Sitecore().Field("Message Label")*</label>
                                <textarea class="form-control" rows="3" id="messsage" name="Message" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "Message"))"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row gd-contact-code  form-inline">
                        <div class="col-sm-11">
                            <p>@Html.Sitecore().Field("Verification Label") *</p>
                            <img id="valiCode" style="cursor: pointer;" src="@Url.Action("GetValidateCode", "Home")" alt="ValidateCode" />
                            <input type="text" id="code" class="form-control" name="ValidateCode" data-error="@Html.Sitecore().Field("Text", errorMessages.SingleOrDefault(p => p.DisplayName == "ValidateCode"))">
                            <a href="javascript:changeImg();">@Html.Sitecore().Field("Generate another code Label")</a>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-black" value="@Html.Sitecore().Field("Button Text")">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeImg() {
        document.getElementById("valiCode").src = "@Url.Action("GetValidateCode", "Home")?time=" + Math.random();
    }
</script>