@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Collections
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
@{
    var enquiryFolder = Sitecore.Context.Item.Children.SingleOrDefault(p => p.DisplayName == "Enquiry Type Selects");
    var titleFolder = Sitecore.Context.Item.Children.SingleOrDefault(p => p.DisplayName == "Title Selects");
    List<Item> formEnquirySelects = new List<Item>();
    List<Item> formTitleSelects = new ItemList();
    if (enquiryFolder != null)
    {
        formEnquirySelects = LandmarkHelper.GetItemsByRootAndTemplate(enquiryFolder.ID.ToString(), ItemGuids.TextObject);
    }
    if (titleFolder != null)
    {
        formTitleSelects = LandmarkHelper.GetItemsByRootAndTemplate(titleFolder.ID.ToString(), ItemGuids.TextObject);
    }
}

<div class="gd-contact-area">
    <div class="gd-contact-heading">
        <span class="icomoon-thin-arrow-R"></span>
        <h3>
            <span class="icomoon-location"></span>@Html.Sitecore().Field("Contact Form Title")
        </h3>
    </div>
    <div class="gd-contact-body" style="display:none;">
        <p>@Html.Sitecore().Field("Contact Form Description")</p>
        <div class="row">
            <div class="col-sm-9">
                <form class="gd-contact-form" action="@Url.Action("AddCustomerMessage", "Home")" method="POST" id="myForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="title">@Html.Sitecore().Field("Title Label") *</label>
                                @*<select class="form-control" id="title" name="Title" required>
                                        <option value="">@Html.Sitecore().Field("Select Label")</option>
                                        @foreach (var item in formTitleSelects)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </select>*@
                                <div class="dropdown gd-dropdown gd-dropdown-fill">
                                    <!-- User's selection will be stored here -->
                                    <input type="hidden" name="Title" value="" required>
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span class="current">@Html.Sitecore().Field("Select Label")</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        @foreach (var item in formTitleSelects)
                                        {
                                            <li><a href="javascript:;" data-value="@item.Name">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">@Html.Sitecore().Field("First Name Label") *</label>
                                <input type="text" class="form-control" id="firstname" name="FirstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">@Html.Sitecore().Field("Last Name Label") *</label>
                                <input type="text" class="form-control" id="lastname" name="LastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="telephone">@Html.Sitecore().Field("Telephone Label")</label>
                                <input type="text" class="form-control" id="telephone" name="Telephone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">@Html.Sitecore().Field("Email Label") *</label>
                                <input class="form-control" id="email" type="email" name="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="enquiirytype">@Html.Sitecore().Field("Enquiry Type Label") *</label>
                                @*<select class="form-control" id="enquiirytype" name="EnquiryType" required>
                                        <option value="">@Html.Sitecore().Field("Select Label")</option>
                                        @foreach (var item in formEnquirySelects)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </select>*@
                                <div class="dropdown gd-dropdown gd-dropdown-fill">
                                    <!-- User's selection will be stored here -->
                                    <input type="hidden" name="EnquiryType" value="" required>
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span class="current">@Html.Sitecore().Field("Select Label")</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        @foreach (var item in formEnquirySelects)
                                        {
                                            <li><a href="javascript:;" data-value="@item.Name">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="messsage">@Html.Sitecore().Field("Message Label")*</label>
                                <textarea class="form-control" rows="3" id="messsage" name="Message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row gd-contact-code  form-inline">
                        <div class="col-sm-11">
                            <p>@Html.Sitecore().Field("Verrification Label") *</p>
                            <img id="valiCode" style="cursor: pointer;" src="@Url.Action("GetValidateCode", "Home")" alt="ValidateCode" />
                            <input type="text" id="code" class="form-control" name="ValidateCode" required>
                            <a href="javascript:changeImg();">@Html.Sitecore().Field("Generate another code Label")</a>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-black" value="@Html.Sitecore().Field("Button Text")">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeImg() {
        document.getElementById("valiCode").src = "@Url.Action("GetValidateCode", "Home")?time=" + Math.random();
    }
</script>