@using System.Diagnostics.Eventing.Reader
@using Landmark.Classes
@using Landmark.Helper
@using Sitecore.Configuration
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data.Items
@model RenderingModel
<div class="gd-contact-area">
    <div class="gd-contact-heading">
        <span class="icomoon-thin-arrow-R"></span>
        <h3><span class="icomoon-quill"></span>@Html.Sitecore().Field("Contact Title")</h3>
    </div>
    <div class="gd-contact-body" style="display:none;">
        <p>@Html.Sitecore().Field("Contact Description")</p>
        <div class="row">
            <div class="table-responsive col-sm-6">
                <table>
                    <tbody>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.AddressItem))</th>
                            <td>
                                @Html.Sitecore().Field("Contact Address")
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.FaxItem))</th>
                            <td>@Html.Sitecore().Field("Contact Fax")</td>
                        </tr>
                        <tr>
                            <th>@Html.Sitecore().Field("Glossary Value", (Item) Factory.GetDatabase("web").GetItem(ItemGuids.EmailItem))</th>
                            <td>@Html.Sitecore().Field("Contact Email")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 