@using Landmark.Classes
@using Landmark.Helper
@model RenderingModel
<header class="site-header">
    <!-- desktop -->
    <div class="container hidden-sm  hidden-xs">
        <div class="language ">
            <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Rendering(ItemGuids.GlossaryRenderingViewGuid, new { DataSource = ItemGuids.TraditionalChineseItemGuid })</a> |
            <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Rendering(ItemGuids.GlossaryRenderingViewGuid, new { DataSource = ItemGuids.SimplifiedChineseItemGuid })</a>
            <div class="sb-search">
                @*<form action="/en/search">*@
                @using (Html.Sitecore().FormHandler("Search", "Search"))
                {
                    <input type="search" id="search" name="searchString" placeholder="@Html.Sitecore().Field("Glossary Value", ItemGuids.SearchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="icomoon-search"></span>
                }
                @*</form>*@
            </div>
        </div>
        <nav class="clearfix">

            <ul class="menu-left list-inline  ">
                <li><a href="#">NOW AT LANDMARK</a></li>
                <li><a href="#">INSPIRATIONS</a>
                    <!--mega menu-->
                    <nav class="mega-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9  col-sm-9">
                                    <div class=" mega-menu-area">

                                        <div class="row">
                                            <div class="col-md-9 col-sm-9">
                                                <h3>INSPIRATIONS</h3>

                                                <ul class=" mega-category">
                                                    <li><a href="#">INSPIRATIONS-SUBMENU1</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU2</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU3</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU4</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU5</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU6</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU7</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU8</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU9</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU10</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU11</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU12</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU13</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU14</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU15</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU16</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU17</a></li>

                                                </ul>

                                            </div>
                                            <div class="col-md-3 col-sm-3">

                                                <h3>BY BRANDS</h3>

                                                <ul class="mega-brands">
                                                    <li><a href="#">A</a></li>
                                                    <li><a href="#">B</a></li>
                                                    <li><a href="#">C</a></li>
                                                    <li><a href="#">D</a></li>
                                                    <li><a href="#">E</a></li>
                                                    <li><a href="#">F</a></li>
                                                    <li><a href="#">G</a></li>
                                                    <li><a href="#">H</a></li>
                                                    <li class="disabled">I</li>
                                                    <li class="disabled">J</li>
                                                    <li><a href="#">K</a></li>
                                                    <li class="disabled">L</li>
                                                    <li><a href="#">M</a></li>
                                                    <li><a href="#">N</a></li>
                                                    <li class="disabled">O</li>
                                                    <li><a href="#">P</a></li>
                                                    <li><a href="#">Q</a></li>
                                                    <li><a href="#">R</a></li>
                                                    <li class="disabled">S</li>
                                                    <li><a href="#">T</a></li>
                                                    <li><a href="#">U</a></li>
                                                    <li><a href="#">V</a></li>
                                                    <li><a href="#">W</a></li>
                                                    <li><a href="#">X</a></li>
                                                    <li><a href="#">Y</a></li>
                                                    <li><a href="#">Z</a></li>

                                                </ul>

                                                <h3>BY BUILDINGS</h3>

                                                <ul>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU</a></li>
                                                    <li><a href="#">INSPIRATIONS-SUBMENU</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3  col-sm-3">
                                    <div class="mega-product-area pull-right">
                                        <img src="/files/landmark/images/product-img/product-001.jpg">
                                        <h3>MARC JACOBS PULLS THE HEARTSTRINGS</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                                        <a href="#">Learn More <span class="sprite-menu-r"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </li>
                <li class="pull-right"><a href="#">SHOPPING</a>
                    <!--mega menu-->
                    <nav class="mega-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-9  col-sm-9">
                                    <div class=" mega-menu-area">

                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <h3>SHOPPING</h3>

                                                <ul class=" mega-category">
                                                    <li><a href="#">SHOPPING-SUBMENU1</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU2</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU3</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU4</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU5</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU6</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU7</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU8</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU9</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU10</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU11</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU12</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU13</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU14</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU15</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU16</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU17</a></li>

                                                </ul>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">

                                                <h3>BY BRANDS</h3>

                                                <ul class="mega-brands">
                                                    <li><a href="#">A</a></li>
                                                    <li><a href="#">B</a></li>
                                                    <li><a href="#">C</a></li>
                                                    <li><a href="#">D</a></li>
                                                    <li><a href="#">E</a></li>
                                                    <li><a href="#">F</a></li>
                                                    <li><a href="#">G</a></li>
                                                    <li><a href="#">H</a></li>
                                                    <li class="disabled">I</li>
                                                    <li class="disabled">J</li>
                                                    <li><a href="#">K</a></li>
                                                    <li class="disabled">L</li>
                                                    <li><a href="#">M</a></li>
                                                    <li><a href="#">N</a></li>
                                                    <li class="disabled">O</li>
                                                    <li><a href="#">P</a></li>
                                                    <li><a href="#">Q</a></li>
                                                    <li><a href="#">R</a></li>
                                                    <li class="disabled">S</li>
                                                    <li><a href="#">T</a></li>
                                                    <li><a href="#">U</a></li>
                                                    <li><a href="#">V</a></li>
                                                    <li><a href="#">W</a></li>
                                                    <li><a href="#">X</a></li>
                                                    <li><a href="#">Y</a></li>
                                                    <li><a href="#">Z</a></li>

                                                </ul>

                                                <h3>BY BUILDINGS</h3>

                                                <ul>
                                                    <li><a href="#">SHOPPING-SUBMENU</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU</a></li>
                                                    <li><a href="#">SHOPPING-SUBMENU</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3  col-sm-3">
                                    <div class="mega-product-area pull-right">
                                        <img src="/files/landmark/images/product-img/product-001.jpg">
                                        <h3>MARC JACOBS PULLS THE HEARTSTRINGS</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                                        <a href="#">Learn More <span class="sprite-menu-r"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </li>
            </ul>
            <h1>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(ItemGuids.LandmarkHomeItem)">
                    @Html.Sitecore().Field("Landmark Logo Image", ItemGuids.LandmarkConfigItem, new { @class = "img-logo" })
                    @Html.Sitecore().Field("Landmark Logo", ItemGuids.LandmarkConfigItem, new { @class = "responsive-logo" })
                </a>
            </h1>
            <ul class="menu-right list-inline">
                <li><a href="#">DINING</a></li>
                <li><a href="#">SERVICES</a></li>
                <li class="pull-right"><a href="#">AROUND CENTRAL</a></li>
            </ul>
        </nav>
    </div>

    <!--mobile menu-->
    <div class="container visible-xs-block  visible-sm-block">
        <nav class="clearfix">
            <a class="lines-button pull-left" type="button" role="button" aria-label="Navigation">
                <span class="lines"></span>
            </a>
            <div class="sb-search">
                <form action="/en/search">
                    <input type="search" id="search" name="search" placeholder="@Html.Sitecore().Field("Glossary Value", ItemGuids.SearchPlaceHolderItem)" class="sb-search-input form-control">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="icomoon-search"></span>
                </form>
            </div>

            <div class="mobile-menu">
                <div class="scroll-content">
                    <ul>
                        <li><a href="#">NOW AT LANDMARK<span class="sprite-icon-down pull-right"></span></a></li>
                        <li><a href="#">INSPIRATIONS<span class="sprite-icon-down pull-right"></span></a></li>
                        <li><a href="#">SHOPPING<span class="sprite-icon-down pull-right"></span></a>
                            <ul>
                                <li><a href="#">BY CATEGORY<span class="sprite-icon-down pull-right"></span></a>

                                    <ul>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">BY BRANDS<span class="sprite-icon-down pull-right"></span></a>
                                    <ul>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">BY BUILDINGS<span class="sprite-icon-down pull-right"></span></a>
                                    <ul>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>
                                        <li><a href="#">SHOPPING-SUBMENU</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a href="#">DINING<span class="sprite-icon-down pull-right"></span></a>
                            <ul>
                                <li><a href="#">BY CATEGORY<span class="sprite-icon-down pull-right"></span></a>

                                    <ul>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">BY BRANDS<span class="sprite-icon-down pull-right"></span></a>
                                    <ul>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">BY BUILDINGS<span class="sprite-icon-down pull-right"></span></a>
                                    <ul>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>
                                        <li><a href="#">DINING-SUBMENU</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a href="#">SERVICES<span class="sprite-icon-down pull-right"></span></a></li>
                        <li><a href="#">AROUND CENTRAL<span class="sprite-icon-down pull-right"></span></a></li>
                    </ul>
                    <div class="language">
                        <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Rendering(ItemGuids.GlossaryRenderingViewGuid, new { DataSource = ItemGuids.TraditionalChineseItemGuid })</a>
                        <span class="gap">|</span>
                        <a href="@LandmarkHelper.GetUrlByLanguage(Model.PageItem, "")" class="lang-cn">@Html.Sitecore().Rendering(ItemGuids.GlossaryRenderingViewGuid, new { DataSource = ItemGuids.SimplifiedChineseItemGuid })</a>
                    </div>
                </div>
            </div>
            <h1>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(ItemGuids.LandmarkHomeItem)">
                    @Html.Sitecore().Field("Landmark Logo", ItemGuids.LandmarkConfigItem, new { @class = "responsive-logo" })
                </a>
            </h1>
        </nav>
    </div>


</header>
